extends index.pug

block style
    link(rel="stylesheet" href="/css/admin_style.css")

    block admin_style

block content

    .panel-heading
        .panel-title(style="margin-top:15px;")
            block adminHeader
    
    .icon-bar.tab
        .myrow
            a(href='/admin_panel/materials').col.adminNav
                i.fa.fa-file(aria-hidden="true")
                |  Materials
            a(href='/admin_panel/periods').col.adminNav
                i.fa.fa-clock-o(aria-hidden="true")
                |  Periods
            a(href='/admin_panel/subjects').col.adminNav
                i.fa.fa-graduation-cap(aria-hidden="true")
                |  Subjects
            a(href='/admin_panel/categories').col.adminNav
                i.fa.fa-book(aria-hidden="true")
                |  Categories
            a(href='/admin_panel/users?page=0').col.adminNav
                i.fa.fa-users(aria-hidden="true")
                |  Users
    hr

    block adminContent