extends admin_panel.pug

block adminHeader
    h4 Materials
    hr

block adminContent
    .card(style="margin-bottom:15px;")
        .card-header
            h4.center_text Find material
            br
            form(action='/admin_panel/materials' method="POST")#admin_search_form
                .row
                    .offset-md-3.col-md-6
                        .form-group
                            label(for="material_id") Material ID:
                            input.form-control.mr-sm-2.margin_tb(type="text" name="material_id" placeholder="Enter material ID")#admin_search_input
                        .center_text
                            button.btn.btn-success(type='submit' style="font-size:14px;").hand.margin_tb#admin_search_button Search
                            