extends admin_panel.pug

block adminHeader
    h4 Periods
    hr

block adminContent

    .card(style="margin-bottom:15px;")
        .card-header
            h4.center_text Create period
            br
            form(method="post" action="/admin_panel/periods/add")#add_form
                .row
                    .offset-md-3.col-md-6
                        .form-group
                            label(for="add_input") Period
                            input.form-control.mr-sm-2(type="text" name="new_period_name" placeholder="Enter period name")#add_input
                        .center_text
                            button.btn.btn-success(type='submit' style="font-size:14px;").hand#add_btn Create
        .card-block
            h4.center_text Periods list
            br
            .row(style="padding-bottom:15px;")#info_row
                .offset-md-1.col-md-6.center_text 
                    strong Period
                .col-md-4.center_text 
                    strong Options
            if typeof(periods)!=='undefined' && periods!=''
                each period in periods
                    .row(class=period.id).element_row
                        .offset-md-1.col-md-6.margin_tb
                            input.form-control.mr-sm-2(id=period.id type="text" name="edited_name" value=period.name disabled).name_input
                        .col-md-4.margin_tb.btn-group(role='group')
                            button.btn.btn-success(type='button' data-periodid=period.id style="font-size:14px;").hand.updatePer.admin_button
                                i.fa.fa-unlock(aria-hidden="true" )
                                |  Unlock
                            button.btn.btn-danger(type='button' data-periodid=period.id data-target="#removeModal" data-toggle='modal' style="font-size:14px;").hand.removePer.admin_button
                                i.fa.fa-trash-o(aria-hidden="true")
                                |  Remove
                
    #removeModal.modal.fade(role='dialog')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h4.modal-title Are you sure?
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .d-flex.justify-content-center
                        .btn-group(role='group')
                            button.btn.btn-success(type='button' data-dismiss='modal' style="min-width:70px;font-size:14px;" ).hand No
                            button.btn.btn-danger(type='button' data-dismiss='modal' style="min-width:70px;font-size:14px;" data-periodid="").hand#removeYes Yes

    script(src="/js/admin_panel_helper.js")
    script(type="text/javascript").
        $(document).ready(function(){


            $(document).on('click',".updatePer",function(e){
                e.preventDefault();
                    
                var button=$(this);
                var periodid = button.data('periodid');
                
                var el=document.getElementById(periodid);
                if(el.disabled==true){
                    localStorage.setItem('prev_val_per'+periodid, el.value);
                    $(this).html('<i class="fa fa-cog" aria-hidden="true" ></i> Update')
                    el.disabled=false;
                }else{
                    var element_row=$(".element_row."+periodid);
                    var url = "/admin_panel/periods/update";

                    var data={
                        name:el.value,
                        period_id:el.id
                    }
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        success: function(data)
                        {
                            if(data.code==1){
                                var result=data.result;

                                button.html('<i class="fa fa-unlock" aria-hidden="true" ></i> Unlock')
                                el.disabled=true;
                                
                                element_row.fadeOut("fast",function(){
                                    element_row.remove();

                                    var element=findElement(".element_row",result.name);
                                    if(element==null)
                                        $("#info_row").after(element_row);
                                    else
                                        $(element).after(element_row);

                                    element_row.fadeIn("fast");
                                });
                                snackbar.show("ok",data.resp);
                            }else{
                                if(localStorage['prev_val_per'+periodid]!==undefined)
                                    el.value=localStorage['prev_val_per'+periodid]; 
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                }

            });

                $(document).on('click',".removePer",function(e){
                    e.preventDefault();
                    $('#removeYes').data('periodid',$(this).data('periodid'));
                });
                
                $(document).on('click',"#removeYes",function(e){
                    
                    e.preventDefault();
                    
                    var periodid=$(this).data('periodid');
                    var url='/admin_panel/periods/delete';
                    var data={
                        period_id:periodid
                    }

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        success: function(data)
                        {
                            if(data.code==1){
                                snackbar.show("ok",data.resp);
                                $('.'+periodid).fadeOut(500, function() { $('.'+periodid).remove(); });
                            }else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });

                });

                $(document).on('click',"#add_btn",function(e){
                    e.preventDefault();

                    var url = "/admin_panel/periods/add"; 
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#add_form").serialize(),
                        success: function(data)
                        {
                            if(data.code==1){
                                $("#add_input").val("");
                                
                                var period_id=data.result._id;
                                var period_name=data.result.name;

                                var new_period_html=`<div class="row `+period_id+` element_row">
                                                        <div class="offset-md-1 col-md-6 margin_tb center_text">
                                                            <input id="`+period_id+`" type="text" name="edited_name" value="`+period_name+`" disabled="true" class="form-control mr-sm-2 name_input"/>
                                                        </div>
                                                        <div role="group" class="col-md-4 margin_tb center_text btn-group">
                                                            <button style="font-size:14px;" type="button" data-periodid="`+period_id+`" class="btn btn-success hand updatePer admin_button"><i aria-hidden="true" class="fa fa-unlock"></i> Unlock</button>
                                                            <button style="font-size:14px;" type="button" data-periodid="`+period_id+`" data-target="#removeModal" data-toggle="modal" class="btn btn-danger hand removePer admin_button"><i aria-hidden="true" class="fa fa-trash-o"></i> Remove</button>
                                                        </div>
                                                    </div>`

                
                                var element=findElement(".element_row",period_name);
                                if(element==null)
                                    $("#info_row").after(new_period_html);
                                else
                                    $(element).after(new_period_html);
                                
                                snackbar.show("ok",data.resp);
                            }else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                })
        });        