extends admin_panel.pug

block adminHeader
    h4 Categories
    hr

block adminContent

    .card(style="margin-bottom:15px;")
        .card-header 
            h4.center_text Create category
            br
            form(method="post" action="/admin_panel/categories/add")#add_form
                .row
                    .offset-md-3.col-md-6
                        .form-group
                            label(for="select_periods") Periods
                            select.form-control.select_box(multiple name="period_ids" style="border-right:1px gery;")#select_periods
                                if typeof(periods)!=='undefined' && periods!=''
                                    for period in periods
                                        option(value=period._id)=period.name
                        .form-group
                            label(for="add_input") Category
                            input.form-control(type="text" name="new_category_name" placeholder="Enter category name")#add_input
                        .center_text
                            button.btn.btn-success(type='submit' style="font-size:14px;").hand#add_btn Create
                
        .card-block
            h4.center_text Categories list
            br
            .row(style="padding-bottom:15px;")#info_row
            if typeof(categories)!=='undefined' && categories!=''
                each category in categories
                    .row(class=category.id).element_row
                        .offset-md-3.col-md-6
                            .form-group
                                label( style="margin-bottom:1px;") Periods
                                select.select_box.form-control(multiple name="period_ids" id="select_"+category._id disabled).second_select
                                    if typeof(periods)!=='undefined' && periods!=''
                                        for period in periods
                                            -if(category.period_ids.indexOf(period._id)>=0)
                                                option(value=period._id selected)=period.name
                                            -else
                                                option(value=period._id)=period.name
                            .form-group
                                label(for=category._id style="margin-bottom:1px;") Category
                                input.form-control(id=category.id type="text" name="edited_name" value=category.name disabled).name_input
                            .center_text
                                .btn-group(role='group')
                                    button.btn.btn-success(type='button' data-categoryid=category.id style="font-size:14px;").hand.updateCat
                                        i.fa.fa-unlock(aria-hidden="true")
                                        |  Unlock
                                    button.btn.btn-danger(type='button' data-categoryid=category.id data-target="#removeModal" data-toggle='modal' style="font-size:14px;").hand.removeCat
                                        i.fa.fa-trash-o(aria-hidden="true")
                                        |  Remove
                            .col-md-12
                                br
                                br
               
    #removeModal.modal.fade(role='dialog')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h5.modal-title Are you sure?
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .d-flex.justify-content-center
                        .btn-group(role='group')
                            button.btn.btn-success(type='button' data-dismiss='modal' style="min-width:70px;font-size:14px;").hand No
                            button.btn.btn-danger(type='button' data-dismiss='modal' style="min-width:70px;font-size:14px;" data-categoryid="").hand#removeYes Yes

    script(src="/js/admin_panel_helper.js")
    script(type="text/javascript").
        $(document).ready(function(){
            $(document).on('click',".updateCat",function(e){
                e.preventDefault();
                    
                var button=$(this);
                var categoryid = button.data('categoryid');
                var el=document.getElementById(categoryid);
                var select_el=$("#select_"+categoryid);
                var options=$("#select_"+categoryid+" option");
                
                if(el.disabled==true){
                    localStorage.setItem('prev_val_cat'+categoryid, el.value);
                    $(this).html('<i class="fa fa-cog" aria-hidden="true"></i> Update')
                    el.disabled=false;
                    select_el.removeAttr("disabled");
                }else{
                    var element_row=$(".element_row."+categoryid);
                    var url = "/admin_panel/categories/update";

                    var selected_options=$("#select_"+categoryid+" option:selected");
                    var selected_options_length=selected_options.length;
                    var selected_options_values=[];

                    for(var i=0;i<selected_options_length;i++)
                        selected_options_values.push(selected_options[i].value);

                    var data={
                        name:el.value,
                        category_id:el.id,
                        "period_ids[]":selected_options_values
                    }
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        success: function(data)
                        {
                            if(data.code==1){
                                var result=data.result;
                                
                                var category=result.category;
                                var category_period_ids=category.period_ids;

                                button.html('<i class="fa fa-unlock" aria-hidden="true"></i> Unlock')
                                el.disabled=true;
                                select_el.attr("disabled","disabled");

                                element_row.fadeOut("fast",function(){
                                    element_row.remove();

                                    var element=findElement(".element_row",category.name);
                                    if(element==null)
                                        $("#info_row").after(element_row);
                                    else
                                        $(element).after(element_row);

                                    options.each(function(index,item){
                                        if(category_period_ids.indexOf(item.value)>=0)
                                            item.selected=true;
                                        else
                                            item.selected=false;
                                    });       

                                    element_row.fadeIn("fast");
                                });             
                                
                                snackbar.show("ok",data.resp);
                            }else{
                                if(localStorage['prev_val_cat'+categoryid]!==undefined)
                                    el.value=localStorage['prev_val_cat'+categoryid]; 
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                }

            });

                $(document).on('click',".removeCat",function(e){
                    e.preventDefault();
                    $('#removeYes').data('categoryid',$(this).data('categoryid'));
                });
                
                $(document).on('click',"#removeYes",function(e){
                    
                    e.preventDefault();
                    
                    var categoryid=$(this).data('categoryid');
                    var url='/admin_panel/categories/delete';
                    var data={
                        category_id:categoryid
                    }

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        success: function(data)
                        {
                            if(data.code==1){
                                snackbar.show("ok",data.resp);
                                $('.'+categoryid).fadeOut(1000, function() { $('.'+categoryid).remove(); });
                            }else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });

                });

                $(document).on('click',"#add_btn",function(e){
                    e.preventDefault();

                    var url = "/admin_panel/categories/add"; 
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#add_form").serialize(),
                        success: function(data)
                        {

                            if(data.code==1){
                                $("#add_input").val("");
                                $("#select_periods option:selected").prop("selected", false);

                                var periods=data.result.periods;
                                var periods_len=periods.length;
                    
                                var options_part="";            

                                var category_id=data.result._id;
                                var category_name=data.result.name;
                                var category_period_ids=data.result.period_ids;

                                var selected="";
                                for(var i=0;i<periods_len;i++){
                                    if(category_period_ids.indexOf(periods[i]._id)>=0)
                                        selected="selected";
                                    else
                                        selected="";
                                    options_part+='<option value="'+periods[i]._id+'" '+selected+'>'+periods[i].name+'</option>';
                                }

                                var new_category_html=`
                                <div class="row element_row `+ category_id+`">
                                    <div class="offset-md-3 col-md-6">
                                        <div class="form-group">
                                            <label for="select_`+category_id+`" style="margin-bottom:1px;">Periods:</label>
                                            <select multiple="multiple" name="period_ids" id="select_`+category_id+`" disabled="disabled" class="select_box form-control second_select">`
                                                +options_part+
                                            `</select>
                                        </div>
                                        <div class="form-group">
                                            <label for="`+category_id+`" style="margin-bottom:1px;">Category name:</label>
                                            <input id="`+category_id+`" type="text" name="edited_name" value="`+ category_name+`" disabled="disabled" class="form-control name_input"/>
                                        </div>
                                        <div class="center_text">
                                            <div role="group" class="btn-group">
                                                <button style="font-size:14px;" type="button" data-categoryid="`+category_id+`" class="btn btn-success hand updateCat admin_button"><i aria-hidden="true" class="fa fa-unlock"></i> Unlock</button>
                                                <button style="font-size:14px;" type="button" data-categoryid="`+category_id+`" data-target="#removeModal" data-toggle="modal" class="btn btn-danger hand removeCat admin_button"><i aria-hidden="true" class="fa fa-trash-o"></i> Remove</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <br/>
                                        <br/>
                                    </div>
                                </div>`;


                                var element=findElement(".element_row",category_name);
                                if(element==null)
                                    $("#info_row").after(new_category_html);
                                else
                                    $(element).after(new_category_html);
                                
                                snackbar.show("ok",data.resp);
                            }else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                });
           
        });      