extends admin_panel.pug

block adminHeader
    h4 Subjects
    hr

block admin_style
    style(type="text/css").
        
block adminContent
    .card(style="margin-bottom:15px;")
        .card-header
            h4.center_text Create subject
            br
            form(method="post" action="/admin_panel/subjects/add")#add_form
                .row
                    .offset-md-3.col-md-6
                        .form-group
                            label(for="select_periods") Periods
                            select.form-control.select_box(multiple name="period_ids" )#select_periods
                                if typeof(periods)!=='undefined' && periods!=''
                                    for period in periods
                                        option(value=period._id)=period.name
                        .form-group
                            label(for="add_input") Subject
                            input.form-control(type="text" name="new_subject_name" placeholder="Enter subject name")#add_input
                        .center_text
                            button.btn.btn-success(type='submit' style="font-size:14px;").hand#add_btn Create
        .card-block
            h4.center_text Subjects list
            br
            .row(style="padding-bottom:15px;")#info_row
            if typeof(subjects)!=='undefined' && subjects!=''
                each subject in subjects
                    .row(class=subject.id).element_row
                        .offset-md-3.col-md-6
                            .form-group
                                label(for="select_"+subject._id style="margin-bottom:1px;") Periods
                                select.select_box.form-control(multiple name="period_ids" id="select_"+subject._id disabled).second_select
                                    if typeof(periods)!=='undefined' && periods!=''
                                        for period in periods
                                            -if(subject.period_ids.indexOf(period._id)>=0)
                                                option(value=period._id selected)=period.name
                                            -else
                                                option(value=period._id)=period.name
                            .form-group
                                label(for=subject._id style="margin-bottom:1px;") Subject
                                input.form-control(id=subject.id type="text" name="edited_name" value=subject.name disabled).name_input
                            .center_text
                                .btn-group(role='group')
                                    button.btn.btn-success(type='button' data-subjectid=subject.id style="font-size:14px;").hand.updateSub.admin_button
                                        i.fa.fa-unlock(aria-hidden="true")
                                        |  Unlock
                                    button.btn.btn-danger(type='button' data-subjectid=subject.id data-target="#removeModal" data-toggle='modal' style="font-size:14px;").hand.removeSub.admin_button
                                        i.fa.fa-trash-o(aria-hidden="true")
                                        |  Remove
                        .col-md-12
                            br
                            br
                            

    #removeModal.modal.fade(role='dialog')
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    h4.modal-title Are you sure?
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .d-flex.justify-content-center
                        .btn-group(role='group')
                            button.btn.btn-success(type='button' data-dismiss='modal' style="min-width:70px;font-size:14px;").hand No
                            button.btn.btn-danger(type='button' data-dismiss='modal' style="min-width:70px;font-size:14px;" data-subjectid="").hand#removeYes Yes


    script(src="/js/admin_panel_helper.js")
    script(type="text/javascript").
        $(document).ready(function(){
            
            $(document).on('click',".updateSub",function(e){
                e.preventDefault();
                    
                var button=$(this);
                var subjectid = button.data('subjectid');
                var el=document.getElementById(subjectid);
                var select_el=$("#select_"+subjectid);
                var options=$("#select_"+subjectid+" option");

                if(el.disabled==true){
                    localStorage.setItem('prev_val_sub'+subjectid, el.value);
                    $(this).html('<i class="fa fa-cog" aria-hidden="true"></i> Update')
                    el.disabled=false;
                    select_el.removeAttr("disabled");
                }else{
                    var element_row=$(".element_row."+subjectid);
                    var url = "/admin_panel/subjects/update";

                    var selected_options=$("#select_"+subjectid+" option:selected");
                    var selected_options_length=selected_options.length;
                    var selected_options_values=[];

                    for(var i=0;i<selected_options_length;i++)
                        selected_options_values.push(selected_options[i].value);
                    
                    var data={
                        name:el.value,
                        subject_id:el.id,
                        "period_ids[]":selected_options_values
                    }
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: data,
                        success: function(data)
                        {

                            if(data.code==1){
                                var result=data.result;
                                
                                var subject=result.subject;
                                var subject_period_ids=subject.period_ids;

                                button.html('<i class="fa fa-unlock" aria-hidden="true"></i> Unlock')
                                el.disabled=true;
                                select_el.attr("disabled","disabled");

                                element_row.fadeOut("fast",function(){
                                    element_row.remove();

                                    var element=findElement(".element_row",subject.name);
                                    if(element==null)
                                        $("#info_row").after(element_row);
                                    else 
                                        $(element).after(element_row);
                                    

                                    options.each(function(index,item){
                                        if(subject_period_ids.indexOf(item.value)>=0)
                                            item.selected=true;
                                        else
                                            item.selected=false;
                                    });       

                                    element_row.fadeIn("fast");
                                });
                                
                                snackbar.show("ok",data.resp);

                            }else{
                                if(localStorage['prev_val_sub'+subjectid]!==undefined)
                                    el.value=localStorage['prev_val_sub'+subjectid]; 
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                }

            });

            $(document).on('click',".removeSub",function(e){
                e.preventDefault();
                $('#removeYes').data('subjectid',$(this).data('subjectid'));
            });
                
            $(document).on('click',"#removeYes",function(e){
                
                e.preventDefault();
                
                var subjectid=$(this).data('subjectid');
                var url='/admin_panel/subjects/delete';
                var data={
                    subject_id:subjectid
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function(data)
                    { 
                        if(data.code==1){
                            snackbar.show("ok",data.resp);
                            $('.'+subjectid).fadeOut(1000, function() { $('.'+subjectid).remove(); });
                        }else{
                            snackbar.show("error",data.resp);
                        }
                    }
                });

            });

            $(document).on('click',"#add_btn",function(e){
                e.preventDefault();

                var url = "/admin_panel/subjects/add";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#add_form").serialize(),
                    success: function(data)
                    {
                        if(data.code==1){
                            $("#add_input").val("");
                            $("#select_periods option:selected").prop("selected", false);
                            
                            var periods=data.result.periods;
                            var periods_len=periods.length;
                
                            var options_part="";            

                            var subject_id=data.result._id;
                            var subject_name=data.result.name;
                            var subject_period_ids=data.result.period_ids;

                            var selected="";
                            for(var i=0;i<periods_len;i++){
                                if(subject_period_ids.indexOf(periods[i]._id)>=0)
                                    selected="selected";
                                else
                                    selected="";
                                options_part+='<option value="'+periods[i]._id+'" '+selected+'>'+periods[i].name+'</option>';
                            }

                            var new_subject_html=`
                            <div class="row element_row `+ subject_id+`">
                                <div class="offset-md-3 col-md-6">
                                    <div class="form-group">
                                        <label for="select_`+subject_id+`" style="margin-bottom:1px;">Periods:</label>
                                        <select multiple="multiple" name="period_ids" id="select_`+subject_id+`" disabled="disabled" class="select_box form-control second_select">`
                                            +options_part+
                                        `</select>
                                    </div>
                                    <div class="form-group">
                                        <label for="`+subject_id+`" style="margin-bottom:1px;">Subject name:</label>
                                        <input id="`+subject_id+`" type="text" name="edited_name" value="`+ subject_name+`" disabled="disabled" class="form-control name_input"/>
                                    </div>
                                    <div class="center_text">
                                        <div role="group" class="btn-group">
                                            <button style="font-size:14px;" type="button" data-subjectid="`+subject_id+`" class="btn btn-success hand updateSub admin_button"><i aria-hidden="true" class="fa fa-unlock"></i> Unlock</button>
                                            <button style="font-size:14px;" type="button" data-subjectid="`+subject_id+`" data-target="#removeModal" data-toggle="modal" class="btn btn-danger hand removeSub admin_button"><i aria-hidden="true" class="fa fa-trash-o"></i> Remove</button>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <br/>
                                    <br/>
                                </div>
                            </div>`;

                            var element=findElement(".element_row",subject_name);
                            if(element==null)
                                $("#info_row").after(new_subject_html);
                            else 
                                $(element).after(new_subject_html);
                            
                            snackbar.show("ok",data.resp);
                        }else{
                            snackbar.show("error",data.resp);
                        }
                    }
                });
            });
        });        