extends admin_panel.pug

block adminHeader
    h4 User ID: 
        if typeof searched_user!=='undefined' && typeof(searched_user._id)!=='undefined' && searched_user._id!=''   
            span(style="font-size:18px;")=searched_user._id
    hr
    
    link(rel="stylesheet" href="/css/toggle_button.css")

block adminContent
    
    
    if typeof(searched_user)!=='undefined' && searched_user!=''   
        .card.card-block.bg-faded(style="margin-bottom:15px;")
            div
                
                img(src="/"+searched_user.avatar class="img-thumbnail" alt="This user has no avatar." style="margin-bottom:20px;width:220px;height:220px; object-fit: cover; display:inline-block !important;")#avatar_img
                
                a.btn.btn-primary(href="/users/"+searched_user._id style="margin-left:30px;margin-bottom:20px;font-size:14px;")
                    i.fa.fa-user(area-hidden="true")
                    |  Show profile
            

            input(hidden value=searched_user._id)#user_id_input
            ul.list-group
                li.list-group-item
                    .col-sm-3
                        strong Nickname:
                    .col-sm-4
                        = searched_user.nickname
                if searched_user.origin=='registration'
                    li.list-group-item
                        .col-sm-3
                            strong Username:
                        .col-sm-4
                            = searched_user.username
                li.list-group-item
                    .col-sm-3
                        strong Email:
                    .col-sm-4
                        = searched_user.email
                li.list-group-item
                    .col-sm-3
                        strong First name:
                    .col-sm-4
                        = searched_user.first_name
                li.list-group-item
                    .col-sm-3
                        strong Surname:
                    .col-sm-4
                        = searched_user.surname
                li.list-group-item
                    .col-sm-3
                        strong Free disk space:
                    .col-sm-4
                        = searched_user.free_disk_space
                        |  MB
                li.list-group-item
                    .col-sm-3
                        strong Role:
                    .col-sm-4
                        select.form-control.hand#role_select
                            if typeof(roles)!=='undefined' && roles!=''   
                                each role in roles
                                    p=(role._id==searched_user.role_id)
                                    if(role._id==searched_user.role_id)
                                        option(selected data-role_id=role._id )=role.name
                                    else
                                        option(data-role_id=role._id)=role.name

                li.list-group-item
                    .col-sm-3
                        strong Banned:
                    .col-sm-4
                        if(searched_user.banned==true)
                            input.tgl.tgl-skewed(type = "checkbox" checked)#checkBanned
                        else
                            input.tgl.tgl-skewed(type = "checkbox")#checkBanned
                        label.tgl-btn(data-tg-off = "No", data-tg-on = "Yes", for = "checkBanned")
                li.list-group-item
                    .col-sm-3
                        strong Origin:
                    
                    .col-sm-4
                        = searched_user.origin

            button.btn.btn-success(type='button' style="margin-top:15px;font-size:14px;max-width:100px;margin-left:auto;margin-right:auto;").hand#submitButton
                i.fa.fa-check(aria-hidden="true")
                |
                |Submit

    script(type="text/javascript").
        $(document).ready(function(){
            
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });

            $('#submitButton').click(function(e){
                e.preventDefault();

                var data={
                    banned:$('#checkBanned').prop("checked"),
                    disabled:$('#checkDisabled').prop("checked"),
                    role_id:$('option:selected').data("role_id")
                }

                var url="/admin_panel/users/"+$('#user_id_input').val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function(data)
                    {
                        if(data.code==1){
                            snackbar.show("ok",data.resp);
                        }else{
                            snackbar.show("error",data.resp);
                        }
                    }
                });
            });
        });
               