extends admin_panel.pug

block adminHeader
    h4 Users
    hr

block adminContent
    .card(style="margin-bottom:15px;")
        .card-header
            h4.center_text Find user
            br
            form#admin_search_form
                .row
                    .offset-md-3.col-md-6
                        .form-group
                            label(for="select_periods") Enter user id:
                            input.form-control.mr-sm-2.margin_tb(type="text" name="user_search" placeholder="User ID")#admin_search_input
                        .center_text
                            button.btn.btn-success(type='submit' style="font-size:14px;").hand.margin_tb#admin_search_button Search
        .card-block
            h4.center_text Users list
            br
            if typeof(users)!=='undefined' && users!=''
                div(style="overflow: auto")
                    table.table
                        thead
                            tr
                                th ID
                                th Nickname
                                th Email
                        tbody
                        each user in users
                            tr(data-href='/admin_panel/users/'+user.id).clickable-row.hand.admin_tr
                                td=user._id
                                td=user.nickname
                                td=user.email

                    
                    ul.pagination(style="justify-content: center;")
                        if sum_pages>1
                            if curr_page>0
                                li.page-item
                                    a.page-link(href='/admin_panel/users?page='+(curr_page-1)) «
                            else
                                li.page-item.disabled
                                    a.page-link(href='#') «

                            -var i=curr_page-2;
                            if i<0
                                -i=0
                            if i>=sum_pages
                                -i=0
                            while i<sum_pages
                                if i==curr_page
                                    li.page-item.active
                                        a.page-link(href='/admin_panel/users?page='+i)=i++
                                else
                                    li.page-item
                                        a.page-link(href='/admin_panel/users?page='+i)=i++
                                

                            if curr_page<sum_pages-1
                                li.page-item
                                    a.page-link(href='/admin_panel/users?page='+(curr_page+1)) »
                            else
                                li.page-item.disabled
                                    a.page-link(href='#') »
                                
                          
    script(type="text/javascript").
        $(document).ready(function(){

            $("#admin_search_button").click(function(e){
                e.preventDefault();
                window.location='/admin_panel/users/'+$('#admin_search_input').val();
            });

            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });        