
doctype html
html
    head
        title Edu-materials
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        
        //-jquery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        //-cookie script
        script(src="/js/cookiesAgreement.js")

        //- styles(bootstrap,font awesome,favicon etc)
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        //-link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" type="image/ico" href="/favicon.ico")

        style(type="text/css").
            html,body{
                background: url('img/sorry.jpg') no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-image:url('/img/sorry.jpg');
            }
            #home{
                 font-size:14px;
            }

    body
        noscript
            .lead If you want to comfortably use this website please enable JavaScript support in your browser.
        div#cookieInfo This website uses cookies to ensure you get the best experience on our website
            button#cookieButton.btn.btn-default.btn-sm.hand OK

        .container
            .jumbotron(style="margin-top:55px;text-align:center;padding:30px;")
                if err_code
                    strong= err_code +"! "
                if err_message
                    span=err_message
                br
                br
                button(onclick="location.href = '/start';").btn.btn-primary.hand#home Home page  
            
                 