extends index.pug

block style
    link(rel="stylesheet" href="/css/thumbnails.css")

block content
    if typeof(searched_user)!=='undefined' && searched_user!=''
        .row
            .col-md-10(style="padding-top:4px;")
                input(type="hidden" value=searched_user._id)#searched_user_id
                input(type="hidden" value=searched_user.show_favourites+"")#show_favourites_val
                input(type="hidden" value=searched_user.is_owner+"")#owner
                input(type="hidden" value=admin+"")#admin
                h4(style="padding-top:8px;")
                    if searched_user.is_owner
                        |My favourite materials
                    else
                        =searched_user.nickname
                        |
                        |favourite materials
                br
            .col-md-2
                if searched_user.is_owner || admin
                    div.my_account_buttons
                        button.btn.btn-primary.my_tooltip.hand.edit_button#show_favourites
                            if searched_user.show_favourites
                                span.tooltiptext_small Hide
                                i.fa.fa-unlock(aria-hidden="true")#lock
                            else
                                span.tooltiptext_small Show
                                i.fa.fa-lock(aria-hidden="true")#unlock

        include user_profile_nav.pug

        if searched_user.is_owner || searched_user.show_favourites || admin
            if materials_length>0
                .all_thumbnails.num_of_columns

                #loading
            else
                .card
                    .card-block
                        if searched_user.is_owner
                            h6(style="margin-bottom:0;")  Your personal favourite list is empty. Search for something interesting and add it to your personal favourite materials list.
                        else
                            h6(style="margin-bottom:0;")  This user has no favourite materials.
        else
            .card
                .card-block
                    h6(style="margin-bottom:0;") This user hid his favourite materials.

        div(style="margin-bottom:40px;")

    script(type="text/javascript").
        $(document).ready(function() {
            $(document).on('click','.favourite_btn',function(e){
                e.preventDefault();
                e.stopImmediatePropagation();

                var button=$(this);
                var operation_type=button.data("operation_type");
                var file_id=button.data('file_id');
                var url,title,color;
                
                if(operation_type=="add"){
                    url='/favourite/'+file_id+'/add';
                }else{
                    url='/favourite/'+file_id+'/remove';
                }
                    
                $.post(url,function(data){
                        
                        if(data.code==1){
                            if(operation_type=="add"){
                                button.find('.tooltiptext').text('Remove from fafourite');
                                button.addClass('gold_color');
                                button.data("operation_type","remove");
                            }else{
                                if($("#owner").val()==true){
                                    $(".thumbnail_box:has(button[data-file_id='" + file_id +"'])").fadeOut("fast",function(){});
                                }
                                button.find('.tooltiptext').text('Add to favourite');
                                button.removeClass('gold_color');
                                button.data("operation_type","add");
                            }

                            snackbar.show("ok",data.resp);
                            
                        }else{
                            snackbar.show("error",data.resp);
                        }
                });     
            });

            if($("#owner").val()=="true" || $("#show_favourites_val").val()=="true" || $("#admin").val()=="true"){

                $.getScript('/js/thumbnails.js').done(function(){
                
                    var my_window = $(window);
                    var page={num:0};
                    var finished={val:false};
                    var my_mutex={val:true};

                    load_elements(my_mutex,page,my_window,finished,endpoint_names.fav);

                    my_window.scroll(function() {
                        load_elements(my_mutex,page,my_window,finished,endpoint_names.fav);
                    });
                });
            }
                

            function switchVisibilityOptionButtons(){
                if($("#lock").length){
                    $("#show_favourites").html(`<span class="tooltiptext_small">Show</span><i aria-hidden="true" id="unlock" class="fa fa-lock"></i>`)
                }else{
                    $("#show_favourites").html(`<span class="tooltiptext_small">Hide</span><i aria-hidden="true" id="lock" class="fa fa-unlock"></i>`)
                }
            }

            $(document).on('click',"#show_favourites",function(e){

                var user_id=$("#searched_user_id").val();
                var operation_type;
                if($("#lock").length){
                    operation_type="lock";
                }else{
                    operation_type="unlock";
                }

                var data={
                    operation_type:operation_type
                }

                $.ajax({
                    type: "POST",
                    data:data,
                    url: "/users/"+user_id+"/favourite/edit_visibility",
                    success: function(data)
                    {
                        if(data.code==1){
                            snackbar.show("ok",data.resp);
                            switchVisibilityOptionButtons();
                        }else{
                            snackbar.show("error",data.resp);
                        }
                    }
                });

            });
        });