extends index.pug
block style
    link(rel="stylesheet" href="/css/thumbnails.css")
    style(type="text/css").
        .select_box{
            -webkit-box-sizing: border-box !important;
            -moz-box-sizing: border-box !important;
            -ms-box-sizing: border-box !important;
            box-sizing: border-box !important;
            border-right:1px solid #ddd;
            height:94.75px;
        }
        textarea{
            height:94.75px;
        }
        #filter_button{
            display:none;
        }

block content
    .alert.alert-success(style="display:none;margin-top:15px;")#loginMsg
    h4(style="margin-top:20px;").page-header Find interesting materials
    hr
    .row(style="margin-bottom:18px;")
        .col-md-3(style="border-right:1px solid #555;")
            h5(style="text-align:center;") Filter
            
            
            //- ul.nav.nav-tabs
            //-     li.nav-item
            //-         a.nav-link#select_metadata(href='').active
            //-             i.fa.fa-hand-pointer-o(aria-hidden="true")
            //-             |  Select
            //-     li.nav-item
            //-         a.nav-link#write_metadata(href='')
            //-             i.fa.fa-keyboard-o(aria-hidden="true")
            //-             |  Text
            br
            #menu
                .form-group#sort_form
                    label Sort by
                    .card
                        .card-block(style="font-size:16px;")
                            input(type='radio' name="sort_option" value='m_popular' checked)#m_popular.hand
                            label(for="m_popular").hand most popular
                            br
                            input(type='radio' name="sort_option" value='l_popular')#l_popular.hand
                            label(for="l_popular").hand least popular
                            br
                            input(type='radio' name="sort_option" value='az')#az.hand
                            label(for="az").hand a-z
                            br
                            input(type='radio' name="sort_option" value='za')#za.hand
                            label(for="za" style="margin-bottom:0px;").hand z-a

                .form-group
                    label(for="period") Periods
                    select(multiple name="periods").form-control#select_period.select_box.hand
                        if periods
                            for period in periods
                                option(value=period._id)=period.name
                        
                .form-group
                    label(for="subject") Subjects
                    select(multiple name="subjects" disabled ).form-control#select_subject.select_box.hand
                        
                .form-group
                    label(for="categories") Categories
                    select(multiple name="categories" disabled ).form-control#select_category.select_box.hand

                div.center_text
                    button.btn.btn-sm.btn-primary.hand(type="button" style="font-size:14px;")#filter_button Apply filter
        .col-md-9
            if materials_length>0
                .all_thumbnails.num_of_columns_small

                #loading
            else
                .card
                    .card-block
                        h6(style="margin-bottom:0;") No materials.
                        
        div(style="margin-bottom:40px;")

        script(src="/js/thumbnails.js")
        script(src="/js/main_menu.js")
        script(type="text/javascript").
            $(document).ready(function() {
                
                var my_window = $(window);
                var page={num:0};
                var finished={val:false};
                var my_mutex={val:true};
                
                load_elements_by_criteria(my_mutex,page,my_window,finished,undefined,undefined,undefined,$('#sort_form input[name="sort_option"]:checked').val(),"select");

                my_window.scroll(function() {
                    if ($(document).height() - my_window.height() <= my_window.scrollTop()+20) {
                        load_elements_by_criteria(my_mutex,page,my_window,finished,$("#select_period").val(),$("#select_subject").val(),$("#select_category").val(),$('#sort_form input[name="sort_option"]:checked').val(),"select")
                    }
                });

                $(document).on('click',".select_box,#m_popular,#l_popular,#az,#za",function(){
                    page.num=0;
                    finished.val=false;

                    if($(this).attr("id")==$("#select_period").attr("id")){
                        $("#select_subject").val([]);
                        $("#select_category").val([]);
                    }

                    load_elements_by_criteria(my_mutex,page,my_window,finished,$("#select_period").val(),$("#select_subject").val(),$("#select_category").val(),$('#sort_form input[name="sort_option"]:checked').val(),"select");
                });

                $(document).on("mousedown","select",function(e){
                    e.preventDefault();

                    var select = this;
                    var scroll = select .scrollTop;

                    e.target.selected = !e.target.selected;

                    setTimeout(function(){select.scrollTop = scroll;}, 0);

                    $(select ).focus();
                }).mousemove(function(e){e.preventDefault()});

                $(document).on("click","#select_period",function(){
                    if($(this).val().length>0){
                        
                        $("#select_subject,#select_category").prop("disabled",false);
                        var period_ids=$(this).val();
                        var data={
                            period_ids:period_ids
                        }

                        var url="/materials/subjects_and_categories";
                        $.ajax({
                            type: "POST",
                            data: data,
                            url: url,
                            success:function(data){

                                if(data.code==1){
                                    var subjects=data.subjects;
                                    var categories=data.categories;

                                    $("#select_category option,#select_subject option").remove();

                                    var subjects_length=subjects.length;
                                    var options_part="";
                                    for(var i=0;i<subjects_length;i++){
                                        options_part+='<option value="'+subjects[i]._id+'" >'+subjects[i].name+'</option>';
                                    }
                                    $("#select_subject").append(options_part);

                                    options_part="";
                                    var categories_length=categories.length;
                                    for(var i=0;i<categories_length;i++){
                                        options_part+='<option value="'+categories[i]._id+'" >'+categories[i].name+'</option>';
                                    }
                                    $("#select_category").append(options_part);
                                
                                }else{
                                    snackbar.show("error",data.resp);
                                }

                            }
                        });
                    }else{
                        $("#select_subject,#select_category").prop("disabled",true);
                        $("#select_category option,#select_subject option").remove();
                    }
                });

            });