doctype html
html
    head
        title Edu-materials
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        
        //- google recaptcha 
        script(src="https://www.google.com/recaptcha/api.js") 
        //-jquery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        //-cookie script
        script(src="/js/manageCookies.js")
        script(src="/js/cookiesAgreement.js")
        script(src="/js/nav.js")
        script(src="/js/loginForm.js")
        script(src="/js/snackbar.js")
        //- styles(bootstrap,font awesome,favicon etc)
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        script(src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap-social.css")
        
        link(rel="icon" type="image/ico" href="/favicon.ico")   

        //- font
        link(href="https://fonts.googleapis.com/css?family=Cinzel|Lato:400,700" rel="stylesheet")

        link(rel="stylesheet" href="/css/bootstrap-select.css")

        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.min.js')

        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')


        block style

    body
        noscript
            .lead If you want to comfortably use this website please enable JavaScript support in your browser.
        div#cookieInfo This website uses cookies to ensure you get the best experience on our website
            button#cookieButton.btn.btn-default.btn-sm.hand OK
        div#snackbar
        nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            h6(style="margin-bottom:5px;")
                a.navbar-brand(href='/') Edu-materials
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link.main_nav(href='/start')
                            i.fa.fa-graduation-cap(aria-hidden="true")
                            |   Start
                    if user
                        li.nav-item
                            a.nav-link.main_nav(href='/users/'+user._id)
                                i.fa.fa-id-card(aria-hidden="true")
                                |   My account
                        li.nav-item
                            a.nav-link.main_nav(href='/materials/upload')
                                i.fa.fa-upload(aria-hidden="true")
                                |   Upload
                        li.nav-item
                            a.nav-link.main_nav(href='/users/logout')
                                i.fa.fa-sign-out(aria-hidden="true")
                                |   Log out
                        if(user.role_name=='admin')
                            li.nav-item
                                a.nav-link.main_nav(href='/admin_panel')
                                    i.fa.fa-key(aria-hidden="true")
                                    |   Admin panel
                    else    
                        li.nav-item
                            a.nav-link.main_nav(href='#', data-toggle='modal', data-target='#loginModal')
                                i.fa.fa-sign-in(aria-hidden="true")
                                |   Log in
                        li.nav-item
                            a.nav-link.main_nav(href='/users/register')
                                i.fa.fa-user-o(aria-hidden="true")
                                |   Sign up
                form.form-inline(method="get" action="/search").ui-widget
                    input.form-control.mr-sm-1(name="term" type='text', placeholder='Find materials or users' style="min-width:255px;" )#global_search_input
                    button.btn(type='submit' ).form-control.hand#global_search_button
                        i.fa.fa-search(aria-hidden='true')

        #loginModal.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header(style="padding-top:8px;padding-bottom:8px;")
                        h5.modal-title Log in 
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        .alert.alert-danger#loginAlert(style="display:none")
                        form(method="post" action="/users/login2")#loginForm
                            .input-group
                                span.input-group-addon(style="width:45px;")
                                    i(aria-hidden="true").fa.fa-user-circle
                                input.form-control(type='text' placeholder='Username or email' name="username" required)
                            div(style="height:10px;") 
                            .input-group
                                span.input-group-addon(style="width:45px;")
                                    i(aria-hidden="true").fa.fa-lock
                                input.form-control(type='password' name='password' placeholder='Password' required)
                            div(style="height:10px;") 
                            input(type="submit" value="Submit" style="width:100%;font-size:14px;").btn.btn-primary
                        div(style="height:5px;") 
                        
                    .modal-footer
                        a.btn.btn-social.btn-facebook(href="/users/auth/facebook" style="width:50%;font-size:14px;")
                            span.fa.fa-facebook 
                            | Log in with Facebook
                        a.btn.btn-social.btn-google(href="/users/auth/google" style="width:50%;font-size:14px;")
                            span.fa.fa-google 
                            | Log in with Google+

        .container(style="margin-top:10px;background-color:#fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);")
            .row
                .col-lg-12
                    if success_msg!=''
                        .alert.alert-success(style="margin-top:15px;")=success_msg
                    if error_msg!=''
                        .alert.alert-danger(style="margin-top:15px;")=error_msg
                    //-for atuhentication failure message
                    if error!=''    
                        .alert.alert-danger(style="margin-top:15px;")=error

                    div(style="margin-top:15px;")
                    block content

        script(type="text/javascript").
            $( function() {
                $( "#global_search_input" ).autocomplete({
                    source: "/query",
                    minLength: 2,
                    select: function( event, ui ) {
                        
                        window.location="/search?term="+ui.item.value;
                    }
                });
            });
        footer.footer
            p &copy; 2017 e-learning materials