//- extends index.pug

//- block content
//-     h2.page_header Account Login
//-     form(method="post" action="/users/login")
//-         .form-group
//-             label Username or password
//-             input(type="text" name="username" placeholder="Username or password").form-control
//-         .form-group
//-             label Password
//-             input(type="password" name="password" placeholder="Password").form-control
//-         input(type="submit" value="Submit").btn.btn-default
//-     a(href="/users/auth/facebook") Login with Facebook
//-     a(href="/users/auth/google").btn.btn-danger
//-         span.fa.fa-google-plus Google