extends index.pug

block content
    if material_name
        .row
            .col-sm-10(style="word-wrap:break-word;")
                h4(style="padding-top:8px;")=material_name
            .col-sm-2
                button.btn.btn-primary.t_button.download_btn.my_tooltip(data-file_id=material_id style="float:right;").hand.edit_button
                    i.fa.fa-cloud-download(aria-hidden='true')
                    span.tooltiptext Download
        hr
        

        script(type="application/javascript").
            
            function resizeIframe(obj) {

                var height=obj.contentWindow.document.body.scrollHeight;
                if(obj.dataset.file_type.indexOf("image/")>=0){
                    obj.style.height = '700px';
                }
            }

            $(document).ready(function() {
                $.getScript('/js/thumbnails.js');
            });
            

        div(style="padding:10px;")
            iframe(src=path style="width:100%;min-height:500px;max-height:1500px;" onload="resizeIframe(this)" data-file_type=type)#material_preview_frame.height1200
    
        
