extends index.pug

block style
    link(rel="stylesheet" href="/css/thumbnails.css")
    style(type="text/css").
        .material_details_thumbnail{
            text-align:center;
        }
        button.accordion {
            background-color: #eee;
            color: #333;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        button.accordion.active, button.accordion:hover {
            background-color: #ccc;
        }

        button.accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        button.accordion.active:after {
            content: "\2212";
        }

        
        #recommended{
            overflow: auto;
        }

        .profile_picture_thumbnail {
            padding:0px;
        }
        .panel {
            position:relative;
        }
        .panel>.panel-heading:after,.panel>.panel-heading:before{
            position:absolute;
            top:11px;left:-16px;
            right:100%;
            width:0;
            height:0;
            display:block;
            content:" ";
            border-color:transparent;
            border-style:solid solid outset;
            pointer-events:none;
        }
        .panel>.panel-heading:after{
            border-width:7px;
            border-right-color:#f7f7f7;
            margin-top:1px;
            margin-left:2px;
        }
        .panel>.panel-heading:before{
            border-right-color:#ddd;
            border-width:8px;
        }
        .media-body{
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

block content
    if material
        .row( data-material_id=material._id)#material_name_row
            .col-md-10(style="word-wrap:break-word;")
                h4(style="padding-top:8px;")=material.name

            .col-md-2(style="text-align:right;")
                if material.is_owner || material.is_admin
                    button(data-material_id=material._id style="margin:2px;" data-target="#removeModal" data-toggle='modal').btn.btn-primary.my_tooltip.hand.edit_button#deleteBtn
                        i.fa.fa-trash-o(aria-hidden='true')
                        span.tooltiptext Delete
                if material.preview
                    a(href="/materials/"+material._id+"/show" style="margin:2px;").btn.btn-primary.my_tooltip.hand.edit_button
                        i.fa.fa-eye(aria-hidden='true')
                        span.tooltiptext Preview
                if material.logged_in
                    button(data-material_id=material._id style="margin:2px;" data-target="#reportModal" data-toggle='modal').btn.btn-primary.my_tooltip.hand.edit_button
                        i.fa.fa-exclamation-triangle(aria-hidden='true')
                        span.tooltiptext Report
        hr
        .row(style="margin-bottom:18px;")
            .col-lg-9
                .alert.alert-info
                    strong Remember!  
                    small If this material contains inappropriate content or insults someone, please report it .
                .material_details_thumbnail(style="margin-top:50px;")
                    i.fa.thumbnail_icon(aria-hidden='true' style="font-size:120px;margin-bottom:2px;")
                    .thumbnail_buttons
                        -var operation_type,like_class="";
                        -if(material.is_liked){
                        -   operation_type="remove_like"
                        -   like_class="like_color"
                        -}
                        -else{operation_type="like"}
                        
                        
                        button.btn.btn-primary.t_button.like_btn.my_tooltip(data-file_id=material._id data-operation_type=operation_type class=like_class)
                            i.fa.fa-thumbs-up(aria-hidden='true')
                            span.tooltiptext 
                                if material.is_liked
                                    |Remove like
                                else
                                    |Like
                        button.btn.btn-primary.t_button.download_btn.my_tooltip(data-file_id=material._id)
                            i.fa.fa-cloud-download(aria-hidden='true')
                            span.tooltiptext Download
                        
                        -var operation_type_favourite,favourite_class="";
                        -if(material.is_favourite){
                        -   operation_type_favourite="remove"
                        -   favourite_class="gold_color"
                        -}
                        -else{operation_type_favourite="add"}
                        
                        button.btn.btn-primary.t_button.favourite_btn.my_tooltip(data-file_id=material._id data-operation_type=operation_type_favourite class=favourite_class)
                            i.fa.fa-star(aria-hidden='true')
                            span.tooltiptext
                                if material.is_favourite
                                    |Remove from favourite
                                else
                                    |Add to favourite
                        
                        div(style="word-wrap:break-word;")
                            strong=material.name
                        br

                        .row(style="padding:0 35px;")
                            .col-md-8.text_left
                                img(src="/"+material.owner_avatar class="img-thumbnail" alt="User avatar" data-user_id=material.owner_id)#avatar_img.hand.comment_avatar
                                strong( data-user_id=material.owner_id).left_padding15#user_nickname.hand=material.owner_nickname
                            .col-md-4(style="display: flex;align-items: center;" )
                                .additional_thumbnail_data(style="text-align:right;margin-left:auto;")
                                    div Size: 
                                        =material.size+material.units
                                    div Downloads: 
                                        span(id="download_"+material._id)=material.num_of_downloads
                                    div Likes: 
                                        span(id="like_"+material._id)=material.num_of_likes
                    br
                button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#more_details', aria-expanded='false', aria-controls='more_details').accordion
                    |Show details
                #more_details.collapse
                    .card.card-block
                        strong Period: 
                        p.break_word=material.period_name
                        strong Subject: 
                        p.break_word=material.subject_name
                        strong Category:
                        p.break_word=material.category_name
                        strong Uploaded: 
                        p.break_word=material.upload_date
                        strong#description_title Description: 
                        p#material_description.break_word=material.description

                        if material.is_owner
                            button.btn.btn-primary.my_tooltip.hand#edit_description(data-textarea_visible=0 data-material_id=material._id)
                                span.tooltiptext_small Edit description
                                i.fa.fa-pencil(aria-hidden="true")
            
                .comments_section
                    strong.comments_heading Comments  
                        span.badge.badge-pill.badge-default#num_of_comments=material.num_of_comments
                    if user
                        form#comment_form
                            textarea(rows="4" cols="50" name="text" max-length="400" placeholder="Write comment..." data-material_id=material._id style="min-height:50px;").form-control#comment_text
                            small.form-text.text-muted Comment should be 1-800 characters long.
                            div(style="text-align:right;")
                                button.btn.btn-primary.hand#comment_btn(type="submit" style="font-size:14px;") Comment
                    else
                        | Please log in to write comment 
                    //- example comment
                    br
                    br
                    br
                    #written_comments
                        each comment in material.comments
                            .media.margin_bottom30
                                img.d-flex.mr-3(src="/"+comment.author_avatar style= alt='Avatar' data-user_id=comment.author_id).visit_user_profile.hand.comment_avatar.img-thumbnail
                                .media-body
                                    .comment_header
                                        .row
                                            .col-md-6(style="text-align:left;" data-user_id=comment.author_id).visit_user_profile.hand
                                                =comment.author_nickname
                                            .col-md-6(style="text-align:right;")
                                                =comment.publish_date
                                    =comment.text
                
            .col-lg-3(style="border-left:1px solid #333;padding-bottom:25px;")#recommended
                h5.center_text Recommendations
                .all_thumbnails#recommended_materials
        
        #removeModal.modal.fade(role='dialog')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        h6.modal-title Are you sure?
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        .d-flex.justify-content-center
                            .btn-group(role='group')
                                button.btn.btn-sm.btn-success(type='button' data-dismiss='modal' style="min-width:80px;" ).hand No
                                button.btn.btn-sm.btn-danger(type='button' data-dismiss='modal' style="min-width:80px;" data-material_id="").hand#removeYes Yes
        
        #reportModal.modal.fade(role='dialog')
            .modal-dialog.modal-sm
                .modal-content
                    .modal-header
                        h6.modal-title Report 
                        button.close(type='button', data-dismiss='modal') ×
                    .modal-body
                        form(mathod="POST" action='/materials/'+material._id+'/report' )#report_form
                            .form-group
                                textarea(rows="4" cols="50" name="details" maxlength="400" placeholder="Details ...").form-control#report_details
                                small.form-text.text-muted Max length is 400 characters. 
                            div(style="text-align:center;")
                                input.btn.btn-sm.btn-primary(type='submit' data-dismiss='modal' style="min-width:80px;" value="Send").hand#sendReport 


        script(src="/js/checkers.js")
        script(src="/js/recommend.js")
        script(type="text/javascript").
            $(document).ready(function() {
                trackUserChoices();

                $.getScript('/js/thumbnails.js').done(function(){
                    var material_type="#{material.type}";
                    var material_extension="#{material.extension}";
                    var class_name=findClassName(material_type,material_extension);

                    $(".thumbnail_icon").addClass(class_name);


                    $.ajax({
                        type: "GET",
                        url: "/materials/"+$("#material_name_row").data("material_id")+"/recommended",
                        success:function(data){
                            if(data.code==1){
                                $("#recommended_materials").append(generateThumbnailsHtml(data.recommended_materials));
                            }
                        }
                    });
                });

                $(".accordion").on('click',function(e){
                    var text = $(this).text();
                    $(this).text(text == "Show details" ? "Hide details" : "Show details");
                    $(this).toggleClass("active");
                });
                
                $(document).on('click',"#avatar_img,#user_nickname,.visit_user_profile",function(){
                    window.location="/users/"+$(this).data("user_id");
                });

                $("#comment_text").on('keyup',function(){
                    checkTextLengthMinMax($(this),1,800);
                });

                $("#comment_btn").on('click',function(e){
                    e.preventDefault();
                    
                    var material_id=$("#comment_text").data("material_id");

                    var text=$("#comment_text").val();
                    if(checkTextLengthMinMax($("#comment_text"),1,800)){

                        var url="/materials/"+material_id+"/comment";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data:$("#comment_form").serialize(),
                            success: function(data){

                                if(data.code==1){//ok
                                    var comment=data.comment;
                                    var comment_html=`
                                    <div class="media margin_bottom30">
                                        <img src="/`+comment.author_avatar+`" style="Avatar" data-user_id="`+comment.author_id+`" class="comment_avatar d-flex mr-3 visit_user_profile hand img-thumbnail"/>
                                        <div class="media-body">
                                            <div class="comment_header">
                                                <div class="row">
                                                    <div style="text-align:left;" data-user_id="`+comment.author_id+`" class="col-sm-6 visit_user_profile hand">
                                                    `+comment.author_nickname+`
                                                    </div>
                                                    <div style="text-align:right;" class="col-sm-6">
                                                        `+comment.publish_date+`
                                                    </div>
                                            </div>
                                            </div>
                                            `+comment.text+`
                                        </div>
                                    </div>
                                    `;
                                    $("#num_of_comments").text(Number($("#num_of_comments").text())+1);
                                    $("#written_comments").append(comment_html);
                                    $("#comment_text").val("").css('border','solid 1px rgba(0,0,0,.15');
                                    snackbar.show("ok",data.resp);
                                }else{
                                    snackbar.show("error",data.resp);
                                }
                            }
                        })
                    }else{
                        snackbar.show("error","Comment should be 1-800 characters long.");
                    }
                });

                $(document).on('click',"#deleteBtn",function(e){
                    e.preventDefault();
                    $('#removeYes').data('material_id',$(this).data('material_id')); 
                });
                
                $(document).on('click',"#removeYes",function(e){
                    e.preventDefault();

                    var material_id=$(this).data("material_id");
                    var url="/materials/"+material_id;
                    
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function(data)
                        {       
                            if(data.code==1){ //ok
                                window.location.href="/start";
                            }else{
                                snackbar.show("error",data.resp);
                            } 
                        }
                    });
                });

                $(document).on('click',"#edit_description",function(e){
                    e.preventDefault();
                    var description_text=$("#material_description").text();

                    if($(this).data("textarea_visible")==0){//make textarea visible 
                        $(this).data("textarea_visible",1);
                        $("#material_description").hide();
                        var content=`
                        <textarea rows="4" cols="50" name="description" max-length="400" placeholder="Description ..." id="description_text" class="form-control">`
                        +description_text+
                        `</textarea>
                        <p id="small_desc"><small class="form-text text-muted" >Max length is 400 characters.</small></p>`;
                        
                        $("#description_title").after(content);
                        $(this).css('color','#93ed89');
                        $(this).find('.tooltiptext_small').text('Save data');
                        

                    }else{//save data

                        
                        if($("#description_text").val().length<=400){
                            var material_id=$(this).data("material_id");
                            var url="/materials/"+material_id;
                            var description=$("#description_text").val();

                            var data={"desc":description};
                            $.ajax({
                                url: url,
                                type:'patch',
                                data:data,
                                success: function(data){
                                    if(data.code==1){
                                        $("#material_description").text(data.description);
                                        $("#description_text").remove();
                                        $("#small_desc").remove();
                                        $("#material_description").show();
                                        $("#edit_description").data("textarea_visible",0);
                                        $("#edit_description").css('color','white');
                                        $("#edit_description").find('.tooltiptext_small').text('Edit description');
                                        snackbar.show("ok",data.resp);
                                        
                                    }else{
                                        snackbar.show("error",data.resp);   
                                    }
                                }
                            });
                        }else{
                            snackbar.show("error","Description is too long!");
                        }
                    }
                });

                $(document).on('keyup',"#description_text",function(){
                    checkTextLengthMax($(this),400);
                });

                $(document).on('click',"#sendReport ",function(e){
                    e.preventDefault();
                    
                    var url=$("#report_form").attr("action");
                    var data=$("#report_form").serialize();

                    $.ajax({
                        url: url,
                        type:'POST',
                        data:data,
                        success: function(data){
                            if(data.code==1){
                                $("#report_details").val("");
                                snackbar.show("ok",data.resp); 
                            }else{
                                snackbar.show("error",data.resp);   
                            }
                        }
                    });
                });

            });