extends index.pug

block style
    style(type="text/css").
        .container{
            max-width:620px !important;
        }
        .width30{
            width:30px;
        }
        .textCenter{
            text-align: center;
        }
        .g-recaptcha {
            display: inline-block;
        }
        .form-control-feedback {
            display:none;
        }
        

block content
    
    .registration    
        if registration_err_msg
            div(style="height:10px;") 
            //- h1.title Registration failed
            .alert.alert-danger= registration_err_msg
        
        .panel-heading
            .panel-title
                h4 Registration
                    a(href='#', data-toggle='modal', data-target='#loginModal' style="float:right;padding:6px;font-size:16px;") Log in
                hr
        .main-login.main-center
            form.form-horizontal(method="post" action="/users/register" )#registration_form
                input(type='hidden', name='_csrf', value=csrfToken)
                .form-group
                    label.cols-sm-2.control-label(for='username') Username
                    .cols-sm-10#username_input_group
                        .input-group( data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Username length should be 4-30 characters long. Must be unique.")
                            span.input-group-addon
                                i.fa.fa-user-secret.width30(aria-hidden='true')
                            input#username.form-control(type="text" placeholder="Enter your Username" name="username") 
                        .form-control-feedback#username_feedback
                .form-group
                    label.cols-sm-2.control-label(for='password') Password
                    .cols-sm-10#password_input_group
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Password should be 6-30 characters long.Password must include one lowercase character, \
		                    one uppercase character, a number, and a special character.")
                            span.input-group-addon
                                i.fa.fa-lock.fa-lg(style="width:30px;" aria-hidden='true')
                            input#password.form-control(type="password" placeholder="Enter Your Password" name="password")
                        .form-control-feedback#password_feedback
                .form-group
                    label.cols-sm-2.control-label(for='password2') Confirm Password
                    .cols-sm-10#password2_input_group
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Confirm password")
                            span.input-group-addon
                                i.fa.fa-lock.fa-lg.width30(aria-hidden='true')
                            input#password2.form-control(type="password" placeholder="Confirm Password" name="password2")
                        .form-control-feedback#password2_feedback
                .form-group
                    label.cols-sm-2.control-label(for='email') Email
                    .cols-sm-10#email_input_group
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Email must be valid. Email must be unique.")
                            span.input-group-addon
                                i.fa.fa-envelope.width30(aria-hidden='true')
                            input#email.form-control(type="email" placeholder="Enter Your Email" name="email")
                        .form-control-feedback#email_feedback
                    small.form-text.text-muted We'll never share your email with anyone else.
                    
                            
                .form-group
                    label.cols-sm-2.control-label(for='nickname') Nickname (display name)
                    .cols-sm-10#nickname_input_group
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Nickname length should be 1-30 characters long.")
                            span.input-group-addon
                                i.fa.fa-user.width30(aria-hidden='true')
                            input#nickname.form-control(type="text" placeholder="Enter Your Nickname" name="nickname")
                        .form-control-feedback#nickname_feedback
                .form-group
                    strong *
                    label.cols-sm-2.control-label(for='first_name') First Name
                    .cols-sm-10#first_name_input_group
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="First name length should be 0-50 characters long.")
                            span.input-group-addon
                                i.fa.fa-id-badge.width30(aria-hidden='true')
                            input#first_name.form-control(type="text" placeholder="Enter Your First Name" name="first_name")
                        .form-control-feedback#first_name_feedback
                .form-group
                    strong *
                    label.cols-sm-2.control-label(for='surname') Surname
                    .cols-sm-10#surname_input_group
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Surname length should be 0-50 characters long.")
                            span.input-group-addon
                                i.fa.fa-id-card.width30(aria-hidden='true')
                            input#surname.form-control(type="text" placeholder="Enter Your Surname" name="surname")
                        .form-control-feedback#surname_feedback

                .textCenter
                    div(data-sitekey="6LctoS0UAAAAAH6k8Y05xPHw2xFMq_X3iGQrwfI9" ).g-recaptcha
                    div(style="height:7px;") 
                    .form-group
                        button.btn.btn-primary(type='submit' style="font-size:14px;").hand Register
                
            strong(style="line-height:400%;padding-left:15px;") *
            | - not obligatory input field

        script(type="text/javascript").
            $(document).ready(function(){
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover();   
                });

                function displayValidationResult(code,input_group_id,feedback_id,msg){
                    $("#"+feedback_id).hide();
                    $("#"+feedback_id).text(msg).show();
                    if(code==1){
                        $("#"+input_group_id).removeClass("has-danger").addClass("has-success");
                    }else{
                        $("#"+input_group_id).removeClass("has-success").addClass("has-danger");
                    }
                }

                function checkInput(name,value){
                    var url="/users/check_"+name;
                    var data={};
                    data[name]=value;
                    $.ajax({
                        type:"POST",
                        url:url,
                        data:data,
                        success:function(data){
                            displayValidationResult(data.code,name+"_input_group",name+"_feedback",data.resp);
                        }
                    });
                }

                $("#username").on('blur',function(){
                    var value=$(this).val();
                    var name=$(this).attr("name");
                    if(value.length<4 || value.length>40)
                        displayValidationResult(0,name+"_input_group",name+"_feedback","Wrong username length!")
                    else{
                        checkInput(name,value);
                    }
                });

                $("#password").on('blur',function(){

                    var special_chars = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
                    var lowercase_letters = /[a-z]+/;
                    var uppercase_letters = /[A-Z]+/;
                    var numbers = /[0-9]+/;

                    var value=$(this).val();
                    var name=$(this).attr("name");
                    if(value.length<6 || value.length>30)
                        return displayValidationResult(0,name+"_input_group",name+"_feedback","Wrong password length!")
                    
                    if(!special_chars.test(value))
                        return displayValidationResult(0,name+"_input_group",name+"_feedback","Password must contain at least one special character!");
                        
                    if(!lowercase_letters.test(value))
                        return displayValidationResult(0,name+"_input_group",name+"_feedback","Password must contain at least one lowercase character!");
                        
                    if(!uppercase_letters.test(value))
                        return displayValidationResult(0,name+"_input_group",name+"_feedback","Password must contain at least one uppercase character!");

                    if(!numbers.test(value))
                        return displayValidationResult(0,name+"_input_group",name+"_feedback","Password must contain at least one number!");

                    displayValidationResult(1,name+"_input_group",name+"_feedback","Password OK!");
                });

                $("#password2").on('blur',function(){
                    var password1=$("#password").val();
                    var password2=$(this).val();
                    var name=$(this).attr("name");

                    if(password1!=password2)
                        displayValidationResult(0,name+"_input_group",name+"_feedback","Passwords do not match!");
                    else
                        displayValidationResult(1,name+"_input_group",name+"_feedback","Passwords match!");
                });

                $("#nickname").on('blur',function(){
                    var value=$(this).val();
                    var name=$(this).attr("name");

                    if(value.length<1 || value.length>30)
                        displayValidationResult(0,name+"_input_group",name+"_feedback","Wrong nickname length!");
                    else
                        displayValidationResult(1,name+"_input_group",name+"_feedback","Nickname OK!");
                });

                function capitalizeFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1);
                }

                $("#first_name,#surname").on('blur',function(){
                    var value=$(this).val();
                    var name=$(this).attr("name");
                    var x;
                    if(name=="first_name")
                        x="first name"
                    else
                        x="surname"
                    if(value.length>50)
                        displayValidationResult(0,name+"_input_group",name+"_feedback","Wrong "+x+" length!");
                    else
                        displayValidationResult(1,name+"_input_group",name+"_feedback",capitalizeFirstLetter(x)+" OK!");
                });

                $("#email").on('blur',function(){
                    var value=$(this).val();
                    var name=$(this).attr("name");

                    if(value.length>0){
                        checkInput(name,value);
                    }else{
                        displayValidationResult(0,name+"_input_group",name+"_feedback","Wrong email length!");
                    }
                });
            });