extends index.pug

block style
    style(type="text/css").
        .container{
            max-width:620px !important;
        }
        
block content
    if ok
        .panel-title
            h4 Password reset
            hr
        .row
            form.form-horizontal(method="post")#userChangePassForm.col-md-12
                .form-group
                    label.cols-sm-2.control-label(for='old_pas') Old password
                    .cols-sm-10
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top"  data-content="Old password.")
                            span.input-group-addon
                                i.fa.fa-unlock-alt.fa-lg.width30(aria-hidden='true')
                            input.form-control(type="password" placeholder="Enter Your old password" name="old_pass")#old_pass
                .form-group
                    label.cols-sm-2.control-label(for='new_pass') New Password
                    .cols-sm-10
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Password should be 6-30 characters long.Password must include one lowercase character, \
                            one uppercase character, a number, and a special character.")
                            span.input-group-addon
                                i.fa.fa-lock.fa-lg.width30(aria-hidden='true')
                            input.form-control(type="password" placeholder="Enter Your new password" name="new_pass")#new_pass
                .form-group
                    label.cols-sm-2.control-label(for='password2') Confirm Password
                    .cols-sm-10
                        .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Confirm password.")
                            span.input-group-addon
                                i.fa.fa-lock.fa-lg.width30(aria-hidden='true')
                            input.form-control(type="password" placeholder="Confirm Password" name="confirm_pass")#confirm_pass
                .form-group(style="text-align:center;")
                    button.btn.btn-primary.login-button(type='submit' style="font-size:14px;").hand Change password

        script(type="text/javascript").
            $(function() {
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover();
                });
            });