extends index.pug

block style
    link(rel="stylesheet" href="/css/thumbnails.css")
    style(type="text/css").
        .margins{
            margin-left:20px;
            margin-right:20px;
            margin-bottom:20px;
        }
        a[href="#users"]:focus,a[href="#materials"]:focus{
            color:white;
        }

block content
    h4(style="word-wrap:break-word;") Results for phrase: 
        strong 
            i=query
    hr
    .row.space_between.margins
        h5 Materials:
        a(href="#users").btn.btn-sm.btn-primary.hand Skip to users
    a#materials
    if materials=='[]'
        p No materials.
    .all_thumbnails.num_of_columns#searched_materials
    br
    .row.space_between.margins
        h5 Users:
        a(href="#materials").btn.btn-sm.btn-primary.hand Skip to materials
    a#users 
    if users==""
        p No users.   
    else
        .all_thumbnails.num_of_columns#searched_users
            for u in users
                .thumbnail_box
                    a(href="/users/"+u._id)
                        img(src="/"+u.avatar class="img-thumbnail" alt="Avatar" style="width:150px;height:150px; object-fit: cover; ").visit_user_profile
                    
                    .file_name(style="margin-top:10px;")
                        p.visit_user_profile.hand=u.nickname
    
        
    div(style="margin-bottom:40px;")
    script(src="js/scroller.js")  
    script(type="text/javascript").
        $(document).ready(function() {
            $.getScript('/js/thumbnails.js').done(function(){
                var json_materials=!{materials};
                
                $("#searched_materials").append(generateThumbnailsHtml(json_materials));
            });

            $('a[href="#users"],a[href="#materials"]').click(function(e){
                e.preventDefault();
                scrollSmoothly(this.hash);
            });
        });