doctype html
html
    head
        title Edu-materials
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(charset="utf-8")
        //-jquery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        //-cookie script
        script(src="/js/manageCookies.js")
        script(src="/js/cookiesAgreement.js")

        //- styles(bootstrap,font awesome,favicon etc)
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
        //-link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" type="image/ico" href="/favicon.ico")

        style(type="text/css").
            body, html {
                height: 100% !important;
                background-image:none;
                background-color:white;
                font-size:14px;
            }

            .parallax {
                /* Full height */
                height: 100%; 

                /* Create the parallax scrolling effect */
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .img_c{
                background-image:url('img/c.jpg');
            }
            .img_f{
                background-image:url('img/f.jpg');
            }
            .greeting{
                position: absolute;
                left: 0;
                top: 25%;
                left:10%;
                width: 40%;
            }
            @media screen and (max-width: 768px) {
                .greeting{
                    width:80%;
                    min-width:200px;
                }
            }
            
            .icon-bar {
                width: 100%;
                background-color: #555;
                overflow: auto;
            }

            .icon-bar a {
                float: left;
                width: 33.33%;
                text-align: center;
                padding: 12px 0;
                transition: all 0.3s ease;
                color: white;
                font-size: 36px;
            }

            .icon-bar a:hover {
                background-color: #000;
                text-decoration:none;
            }
            .about{
                min-height:150px;
                background-color:#778899;
            }
            .contact{
                min-height:300px;
                background-color:#646891;
                
            }
            .footer{
                background-color:#ced0e2;
                text-align:center;
                padding-top:10px;
                padding-bottom:10px;
            }
            .social_button{
                padding:6px;
                width:35px;
            }
            .divider{
                width:5px;
                height:auto;
                display:inline-block;
            }
            #g_a, #fb_a{
                color:white !important;
            }
            #g_a:hover, #fb_a:hover{
                opacity: 0.7 !important;
            }     

            #goTopBtn {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.6s, opacity 0.6s ease;
                position: fixed;
                bottom: -10px;
                right: 30px;
                z-index: 2;
                border: none;
                outline: none;
                background-color: #555;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 10px;
            }
            #goTopBtn:hover{
                color:#ddd;
                background-color:#111;
            }
            #sendMsgButton:hover{
                background-color:#111!important;
            }
            #sendMsgButton{
                font-size:16px;
            }
    body
        noscript
            .lead If you want to comfortably use this website please enable JavaScript support in your browser.
        
        div#cookieInfo This website uses cookies to ensure you get the best experience on our website
            button#cookieButton.btn.btn-default.btn-sm.hand OK
        div#snackbar.snackbar_center
        a#top
        button(title="Go to top" style="color:white;font-size:20px;").btn#goTopBtn.hand
            i.fa.fa-level-up 

        .parallax.img_c
            .container.greeting
                .starter-template
                    h1.cinzel(style="color:black;")
                        |Hi there! 
                    p Find something interesting and enjoy learning.
                .icon-bar
                    a(href="/start")#startButton
                        i.fa.fa-graduation-cap
                    a(href="#about")
                        i.fa.fa-info
                    a(href="#contact")
                        i.fa.fa-envelope   
        a#about
        .container-fluid               
            .row(style="color:#eee;")
                .about
                    h3(style="text-align:center;padding-top:20px;color:white !important;") About service
                    div(style="width:100%;padding:0 15%; text-align:center;")
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nam at ante et nisl porta luctus sed nec massa.
                            Suspendisse posuere felis quis elit luctus, non venenatis nisl dignissim.
                            Suspendisse faucibus, urna a luctus placerat, justo lacus lacinia massa, 
                            nec lacinia diam eros placerat urna. In eu eleifend libero. Etiam pharetra cursus finibus.
                            In a vehicula lacus. Nam facilisis sed tellus vel laoreet. Etiam ut ornare justo, sed volutpat dolor.
                            Ut varius fringilla tellus vel scelerisque.
                            
        .parallax.img_f(style="height:70%;")
        a#contact
        .container-fluid.contact
            .row(style="color:#eee;")
                .col-sm-12(style="text-align:center;padding-top:30px;")
                    h3(style="color:white !important;") Contact
                    p Fell free to send us message
            .row(style="color:#eee;padding-bottom:30px;")
                .col-sm-2
                .col-sm-8
                    form(method="post" action="/contact")#contactForm
                        .form-group
                            label(for="fullName") Full name (not required)
                            input(type="text" placeholder="Full name" name="fullName" id="fullName" maxlength="200" ).form-control
                        .form-group
                            label(for="topic") Topic
                            input(type="text" placeholder="Topic" name="topic" id="topic" maxlength="200" required).form-control
                        .form-group
                            label(for="email") Email
                            input(type="email" id="email" name="email" placeholder="Email" maxlength="100" required).form-control
                        .form-group
                            label(for="content") Message
                            textarea(rows="5" cols="42" name="content" placeholder="Message" id="content" maxlength="600" required).form-control
                        .text-center 
                            button(type="submit" name="message_submit" style="background-color:#333;font-size:14px;").btn.btn-secondary.btn-lg.hand#sendMsgButton Send message

            .row.footer
                .col-sm-12
                    | &copy; 
                    strong.
                         Author: 
                    | miloszszlachetka@gmail.com 
                            
        script(src="/js/snackbar.js")
        script(src="js/scroller.js")                
        script(type="text/javascript").
            $(document).ready(function(){

                $("#contactForm").submit(function(e) {

                    e.preventDefault();

                    var url = "/contact"; // the script where you handle the form input.
                    
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $("#contactForm").serialize(), // serializes the form's elements.
                        success: function(data)
                        {
                            if(data.code==1){
                                $("#topic,#email,#content,#fullName").css("box-shadow","0 0 0 30px white inset").val("");
                                snackbar.show("ok",data.resp);
                            }
                            else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                });

                //smooth scrolling
                $("a").on('click', function(event) {
                    event.preventDefault();
                    scrollSmoothly(this.hash);
                });

                //show go to top button
                window.onscroll = function() {
                    if (document.body.scrollTop > 460 || document.documentElement.scrollTop > 460) {
                        var goTopBtn=document.getElementById("goTopBtn");
                        goTopBtn.style.visibility="visible";
                        goTopBtn.style.opacity=" 1";
                    } else {
                        var goTopBtn=document.getElementById("goTopBtn")
                        goTopBtn.style.visibility="hidden";
                        goTopBtn.style.opacity=" 0";
                    }
                };

                //smoothly scroll top
                $("#goTopBtn").click(function(event){
                    event.preventDefault();
                    scrollSmoothly(this.hash,true);
                });

                //script for hiding whole body
                $("#startButton").click(function(event){
                    event.preventDefault();
                    $('body').animate({
                        opacity: 0
                    }, 'slow', 'linear', function() {
                        window.location="/start";
                    });
                });
            });