extends index.pug

block style
    link(rel="stylesheet" href="/css/upload.css")
    
    style(type="text/css").
        .container{
            max-width:620px !important;
        }
        .form-group{
            text-align:left;
        }
        select,textarea,input[type="text"]{
            box-sizing:border-box;
        }
        textarea{
            height:100px;
        }
        input:focus,textarea:focus,select:focus{
            border-color:rgb(124, 154, 209) ;
        }
        
block content
    if typeof(user)!=='undefined' && user!=''
        .panel-heading
            .panel-title
                h4 File Uploader
                hr

    small.form-text.text-muted.center_text Please complete following form. This will help other users find material more precisely.
    .alert.alert-info
        p If you choose text method to fill form remember that You can use full name, beginning of name, abbreviation or beginning of abbreviation to complete form inputs.
        p Remember that single file can't be larger than 
            strong 2GB. 
            | Also disk space for single user is limited to 
            strong 5GB.
        p Your free disk space is: 
            strong#disk_space
    
    .upload_panel
        #upload_text
            | Material not selected
        i.fa.fa-cloud-upload(aria-hidden="true")
        .progress
                .progress-bar(role='progressbar' style="height:22px;line-height:120%;font-size:16px;font-weight: bold;transition: width .3s;")
        br
        
        button.btn.btn-primary.hand(type="button" style="font-size:14px;")#upload_btn
            i.fa.fa-folder-open(aria-hidden="true")  
            |  Select material
        
        br
        br
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link#select_metadata(href='').active
                    i.fa.fa-hand-pointer-o(aria-hidden="true")
                    |  Select
            li.nav-item
                a.nav-link#write_metadata(href='')
                    i.fa.fa-keyboard-o(aria-hidden="true")
                    |  Text

        form(mathod="POST" action='/materials/upload' enctype="multipart/form-data")#upload_form
            input(type="file" name="file" multiple)#upload_input 
            br
            div#metadata
                .form-group
                    label(for="period") Period 
                    select(name="period").form-control#select_period.hand
                        option(value="" )#period_not_selected Select period
                        for period in periods
                            option(value=period._id)=period.name
                .form-group
                    label(for="subject") Subject
                    select(name="subject" disabled).form-control#select_subject.hand
                        option(value="")#subject_select_period_first Select period first
                .form-group
                    label(for="category") Category
                    select(name="category" disabled).form-control#select_category.hand
                        option(value="")#category_select_period_first Select period first
                .form-group
                    strong *
                    label(for="description") Description 
                    textarea(rows="4" cols="50" name="description" maxlength="400" placeholder="Description ..." disabled).form-control#description_text
                    small.form-text.text-muted Max length is 400 characters. 
            
            button.btn.btn-primary.hand(type='submit' style="font-size:14px;")#submit_upload_form Upload
            br
            div(style="text-align:left;")
                strong(style="line-height:400%;") *
                | - not obligatory input field

    script(src="/js/checkers.js")
    script(type="text/javascript").
        $(function(){

            function borderOk(element){
                $(element).removeClass("border_neutral border_failure").addClass("border_ok");
            }

            function borderFailure(element){
                $(element).removeClass("border_neutral border_ok").addClass("border_failure");
            }

            function borderNeutral(element){
                $(element).removeClass("border_failure border_ok").addClass("border_neutral");
            }

            function clearFileInput(input_id){
                $(input_id).val("");
                $("#upload_text").text("Material not selected").removeClass("text_failure");
            }

            $("#select_metadata").on('click',function(e){  //#write_metadata
                e.preventDefault();
                $("#upload_form").attr('action',"/materials/upload");

                $("#write_metadata").removeClass("active");
                $(this).addClass("active");
                $.ajax({
                    type: "GET",
                    url: "/materials/periods",
                    success: function(data)
                    {
                        if(data.code==1){

                            var periods=data.periods;
                            var periods_len=periods.length;
                            var periods_part="";
                            for(var i=0;i<periods_len;i++){
                                periods_part+="<option value="+periods[i]._id+" >"+periods[i].name+"</option>";
                            }

                            $("#type_period").replaceWith(`
                                <select name="period" id="select_period" class="form-control hand">
                                    <option value="" id="period_not_selected">Select period</option>`
                                    +periods_part+
                                `</select>
                            `);

                            $("#type_subject").replaceWith(`
                                <select name="subject" disabled="disabled" id="select_subject" class="form-control hand">
                                    <option value="" id="subject_select_period_first">Select period first</option>
                                </select>
                            `);

                            $("#type_category").replaceWith(`
                                <select name="category" disabled="disabled" id="select_category" class="form-control hand">
                                    <option value="" id="category_select_period_first">Select period first</option>
                                </select>
                            `);

                            borderNeutral($("#description_text").attr("disabled",true).val(""));
                            
                        }else{
                            snackbar.show("error",data.resp);
                        }
                    }
                });  
            });

            $("#write_metadata").on('click',function(e){
                e.preventDefault();
                
                $("#upload_form").attr('action',"/materials/upload2");
                $("#select_metadata").removeClass("active");
                $(this).addClass("active");
                
                $("#select_period").replaceWith(`
                    <input type="text" placeholder="Enter Period" name="period" class="form-control" id="type_period">
                `);

                $("#select_subject").replaceWith(`
                    <input type="text" placeholder="Enter Period first" name="subject" class="form-control" id="type_subject" disabled=true>
                `);

                $("#select_category").replaceWith(`
                    <input type="text" placeholder="Enter Period first" name="category" class="form-control" id="type_category" disabled=true>
                `);

                borderNeutral($("#description_text").attr("disabled",true).val(""));
            });

            $(document).on("keyup","#type_period",function(){
                if($("#type_period").val().length>0){
                    $("#type_subject,#type_category,#description_text").attr("disabled",false);
                    $("#type_subject").attr("placeholder","Enter Subject");
                    $("#type_category").attr("placeholder","Enter Category");
                }
                else{
                    $("#type_subject,#type_category,#description_text").attr("disabled",true);
                    $("#type_subject").val("").attr("placeholder","Enter Period first");
                    $("#type_category").val("").attr("placeholder","Enter Period first");
                }
            });
            
            function displayFreeDiskSpace(value){
                var display_free_disk_space=value.toFixed(2);
                $("#disk_space").text(" "+display_free_disk_space+" MB");
            }

            var free_disk_space=#{user.free_disk_space};  //in MB
            
            displayFreeDiskSpace(free_disk_space);

            $("#upload_btn").on('click',function(){
                $("#upload_text").text("Material not selected").removeClass("text_failure");
                $("#upload_input").click();
                $('.progress-bar').text('').width('0%');
            });

            $("#upload_input").on('change',function(){
                var file=$(this).get(0).files;
                var f_length=file.length;
                if(checkNumOfFiles(f_length)){
                    var path=$(this).val();
                    var file_name=path.split(/(\\|\/)/g).pop();
                    $("#upload_text").text(file_name).removeClass("text_failure");
                }else{
                    $("#upload_text").text("Select one material").addClass("text_failure");
                }
            });
            
            $(document).on("change","#select_period",function(){
                if($("option#period_not_selected").prop("selected")==true){
                    //set fail border for period
                    borderOk($(this));
                    //clear old select options
                    $("#select_category option,#select_subject option").remove();
                    //append fail select option
                    $("#select_category").append('<option value="" id="category_select_period_first">Select period first</option>');
                    $("#select_subject").append('<option value="" id="subject_select_period_first">Select period first</option>');
                    //change border for other inputs
                    borderNeutral($("#select_category,#select_subject,#description_text").prop("disabled",true));
                }else{
                    //get period id
                    var period_id=$(this).find(":selected").val();
                    var url='/materials/upload/'+period_id+'/subjects_and_categories';

                    //load subjects and categories based on period 
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(data)
                        {
                            if(data.code==1){
                                var subjects=data.subjects;
                                var categories=data.categories;
                                //change value of select
                                $("#subject_select_period_first").text("Select subject");
                                $("#category_select_period_first").text("Select category");

                                //clear previous select options
                                $("#select_category option,#select_subject option").remove();
                                //add new select options
                                //for subjects
                                var subjects_length=subjects.length;
                                var options_part='<option value="" >Select subject</option>';
                                for(var i=0;i<subjects_length;i++){
                                    options_part+='<option value="'+subjects[i]._id+'" >'+subjects[i].name+'</option>';
                                }
                                $("#select_subject").append(options_part);

                                //for categories
                                var categories_length=categories.length;
                                options_part='<option value="" >Select category</option>';
                                for(var i=0;i<categories_length;i++){
                                    options_part+='<option value="'+categories[i]._id+'" >'+categories[i].name+'</option>';
                                }
                                $("#select_category").append(options_part);

                                //turn off disabled property
                                $("#select_category,#select_subject,#description_text").prop("disabled",false);
                                
                            }else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });    
                }
            });

            function checkNumOfFiles(f_length){
                if(f_length==1)
                    return true;  
                else
                    return false;
            }

            function checkIfSelected(my_input){
                if(my_input.find(':selected').val()==""){
                    borderFailure(my_input);
                    return false;
                }else{
                    borderOk(my_input);
                    return true;
                }
            }

            $(document).on('click',"#select_period,#select_subject,#select_category",function(){
                checkIfSelected($(this));
            });

            $(document).on('blur',"#type_period,#type_subject,#type_category",function(){
                //checkTextLengthGTZero($(this));
            });

            $(document).on('keyup',"#description_text",function(){
                if(checkTextLengthMax($(this),400))
                    borderOk($(this))
                else
                    borderFailure($(this));
            });

            function resetInputColors(type){
                if(type=="select"){
                    borderNeutral($("#select_period").val(""));
                    borderNeutral($("#select_subject").val("").prop("disabled",true));
                    borderNeutral($("#select_category").val("").prop("disabled",true));
                }else{
                    borderNeutral($("#type_period").val(""));
                    borderNeutral($("#type_subject").val("").prop("disabled",true));
                    borderNeutral($("#type_category").val("").prop("disabled",true));
                }
                borderNeutral($("#description_text").val("").prop("disabled",true));
            }
            
            $(document).on('click',"#submit_upload_form",function(e){
                e.preventDefault();
                
                $('.progress-bar').text('').width('0%').removeClass("on_blue_text_failure").addClass("ob_blue_text_ok");

                var upload_input=$("#upload_input").get(0);
                var files = upload_input.files;
                var f_length=files.length;
                
                var error_flag=false;
                if(!checkNumOfFiles(f_length)){
                    $("#upload_text").text("Select one material").addClass("text_failure");
                    error_flag=true;
                }
                
                var url=$("#upload_form").attr('action');

                if(url=="/materials/upload"){
                    if(!(checkIfSelected($("#select_period")) && 
                    checkIfSelected($("#select_subject")) &&
                    checkIfSelected($("#select_category")) &&
                    checkTextLengthMax($("#description_text"),400)))
                        error_flag=true;
                }else{
                    if(!(checkTextLengthMax($("#description_text"),400)))
                        error_flag=true;
                }

                if(error_flag)
                    return;
                
                var formData = new FormData();
                var file=files[0];
                formData.append('file',file)

                if(url=="/materials/upload"){
                    var subject_id=$("#select_subject").find(':selected').val();
                    formData.append('subject_id',subject_id);

                    var period_id=$("#select_period").find(':selected').val();
                    formData.append('period_id',period_id);

                    var category_id=$("#select_category").find(':selected').val();
                    formData.append('category_id',category_id);
                }else{
                    var period_name=$("#type_period").val();
                    formData.append('period_name',period_name);
                    var subject_name=$("#type_subject").val();
                    formData.append('subject_name',subject_name);
                    var category_name=$("#type_category").val();
                    formData.append('category_name',category_name);
                }

                var desc_text=$("#description_text").val();
                formData.append('description',desc_text);
                
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data){

                        if(data.code==0){
                            $('.progress-bar').removeClass("ob_blue_text_ok").addClass("on_blue_text_failure").html('Upload failed');

                            snackbar.show("error",data.resp);
                        }else if(data.code==1){

                            $('.progress-bar').removeClass("on_blue_text_failure").addClass("ob_blue_text_ok").html("Material uploaded");

                            if(url=="/materials/upload"){
                                resetInputColors("select");
                            }else{
                                resetInputColors("text");
                            }

                            clearFileInput("#upload_input");
                            displayFreeDiskSpace(data.user_free_disk_space);
                            snackbar.show("ok",data.resp);
                        }
                    },
                    xhr: function(){
                        // create an XMLHttpRequest
                        var xhr = new XMLHttpRequest();
                        
                        // listen to the 'progress' event
                        xhr.upload.addEventListener('progress', function(evt) {

                            if (evt.lengthComputable) {
                                // calculate the percentage of upload completed
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);

                                // update the Bootstrap progress bar with the new percentage
                                $('.progress-bar').text(percentComplete + '%').width(percentComplete + '%');

                                // once the upload reaches 100%, set the progress bar text to done
                                if (percentComplete === 100) {
                                    $('.progress-bar').html('Done');
                                }
                            }
                        }, false);
                        return xhr;
                    }
                }); 
            });

            $(document).on('keydown',"#type_period" ,function(){
                $( this ).autocomplete({
                    source: "/materials/autocomplete/periods",
                    minLength: 1
                });
            });

            $(document).on('keydown',"#type_subject" ,function(){
                $( this ).autocomplete({
                    source: function(request, response) {
                        $.getJSON("/materials/autocomplete/subjects", { period_name: $('#type_period').val(),subject_name:$("#type_subject").val() }, response);
                    },
                    minLength: 1
                });
            });

            $(document).on('keydown',"#type_category" ,function(){
                $( this ).autocomplete({
                    source: function(request, response) {
                        $.getJSON("/materials/autocomplete/categories", { period_name: $('#type_period').val(),category_name:$("#type_category").val() }, response);
                    },
                    minLength: 1
                });
            });
        });