ul.nav.nav-tabs
    li.nav-item
        a.nav-link.user_profile_nav(href='/users/'+searched_user._id)
            i.fa.fa-id-card(aria-hidden="true")
            |  Account
    li.nav-item
        a.nav-link.user_profile_nav(href='/users/'+searched_user._id+'/uploaded_materials')
            i.fa.fa-file(aria-hidden="true")
            |  Materials
    li.nav-item
        a.nav-link.user_profile_nav(href='/users/'+searched_user._id+'/favourite')
            i.fa.fa-star(aria-hidden="true")
            |  Favourite
br
