extends index.pug

block style
    link(rel="stylesheet" href="/css/thumbnails.css")

block content
    //- .alert.alert-success(style="display:none;")#loginMsg
    if typeof(searched_user)!=='undefined' && searched_user!=''
        p=searched_user.banned
        if searched_user.banned==true
            .row
                .col-lg-12
                    .alert.alert-danger(style="margin-top:15px;")="This user is banned"
        .row
            .col-md-10(style="padding-top:4px;")
                if searched_user.is_owner==true
                    h4 My Profile
                else
                    h4=searched_user.nickname 
                        |
                        |Profile
            .col-md-2
                if searched_user.is_owner
                    div.my_account_buttons
                        if searched_user.has_password
                            button.btn.btn-primary.my_tooltip.hand(data-op_num='0')#changePassBtn.edit_button
                                span.tooltiptext Change password
                                i.fa.fa-lock(aria-hidden="true")
                                
                        button.btn.btn-primary.my_tooltip.hand.edit_button#edit_profile
                            span.tooltiptext_small Edit profile
                            i.fa.fa-pencil(aria-hidden="true")
        if user.is_admin
            .row
                .col-sm-10
                    h5
                        a(href="/admin_panel/users/"+searched_user._id style="text-decoration:none;")
                            |User ID:  
                            =searched_user._id
                
        br        

        include user_profile_nav.pug

        .card.card-block.bg-faded(style="margin-bottom:15px;")
            
            form(method="post" action="/users/"+searched_user._id+"/update" enctype="multipart/form-data")#userInfo
                .row
                    .col-lg-3
                        figure(style="width:220px;")
                            img(src="/"+searched_user.avatar class="img-thumbnail" alt="Avatar" title="Edit profile and click button below and then choose your avatar. Allowed files types are: jpg,png,jpeg. Max file size: 2MB." style="width:220px;height:220px; object-fit: cover; ")#avatar_img
                            figcaption(style="text-align:center;") Your Avatar
                            br
                            .form-groups(style="display:none")#new_avatar
                                label.fileContainer.btn.btn-primary.btn-block.login-button(style="font-size:14px;")
                                    i.fa.fa-upload(aria-hidden='true')
                                    |   Load avatar
                                    input(type='file' name="avatar" accept="image/*").hand#img_input

                                input(type="hidden" name="is_avatar_removed" value="false")#is_avatar_removed
                                button(type="button" style="display:none;font-size:14px;").btn.btn-primary.hand.btn-block#remove_avatar
                                    i.fa.fa-trash-o(aria-hidden="true")
                                    |   Remove avatar

                    .col-lg-9     
                        .form-group
                            label.cols-sm-2.control-label(for='nickname') Nickname (display name)
                            .cols-sm-10
                                .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Nickname length should be 1-30 characters long.")
                                    span.input-group-addon
                                        i.fa.fa-user.width30(aria-hidden='true')
                                    input#nickname.form-control(value=searched_user.nickname type="text" placeholder="Enter Your Nickname" name="nickname" disabled)

                        .form-group
                            label.cols-sm-2.control-label(for='first_name') First Name
                            .cols-sm-10
                                .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="First name length should be 0-50 characters long.")
                                    span.input-group-addon
                                        i.fa.fa-id-badge.width30(aria-hidden='true')
                                    input#first_name.form-control(value = searched_user.first_name type="text" placeholder="" name="first_name" disabled)
                        .form-group
                            label.cols-sm-2.control-label(for='surname') Surname
                            .cols-sm-10
                                .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Surname length should be 0-50 characters long.")
                                    span.input-group-addon
                                        i.fa.fa-id-card.width30(aria-hidden='true')
                                    input#surname.form-control(value= searched_user.surname type="text" placeholder="" name="surname" disabled)

                        if user && searched_user.email!="" && searched_user.email!=undefined && (user.is_owner || user.is_admin) 
                            .form-group
                                label.cols-sm-2.control-label(for='email') Email
                                .cols-sm-10
                                    .input-group(data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Email must be valid.")
                                        span.input-group-addon
                                            i.fa.fa-envelope.width30(aria-hidden='true')
                                        input#email.form-control(value= searched_user.email type="email" placeholder="" name="email" disabled)
                        if user && (user.is_owner || user.is_admin) 
                            .form-group
                                label.cols-sm-2.control-label(for='free_disk_space') Free disk space
                                .cols-sm-10
                                    .input-group
                                        span.input-group-addon
                                            i.fa.fa-database.width30(aria-hidden='true')
                                        input.form-control(value= searched_user.free_disk_space+" MB" type="text" disabled)
                                    

                .form-group(style="display:none;margin-top:10px;text-align:center;")#save_changes
                    button.btn.btn-primary.login-button(type='submit' style="font-size:14px;").hand#save_changes_btn Save changes

                                    
            .alert.alert-info#userChangePass(style="display:none")
                h4 Reset Password
                p We are sending an email
    
    script(type="text/javascript").
        $(function() {
           
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            

            $(document).on('click','#changePassBtn',function(e){
                e.preventDefault();
                if($('#userInfo').is(":visible")){
                    $('#changePassBtn').css('color','#93ed89');
                    $('#changePassBtn').find('.tooltiptext_small').text('Show profile');
                    //$('#changePassBtn').html("Show profile")
                }else{
                    $('#changePassBtn').css('color','white');
                    $('#changePassBtn').find('.tooltiptext_small').text('Change password');
                    //$('#changePassBtn').html("Change password")
                }

                $('#userInfo').toggle(350);
                $('#userChangePass').toggle(350);
                $('#edit_profile').toggle();

                var url="/users/#{searched_user._id}/reset_pass";
            
                $.ajax({
                    type: "POST",
                    url: url,
                    data:{},
                    success: function(data)
                    {
                        var reset_info=$('#userChangePass');
                        reset_info.html(data.resp);      
                    }
                });
            });

            $(document).on('click','#edit_profile',function(e){
                e.preventDefault();
                
                if($('#edit_profile').find('.tooltiptext_small').text()=="Edit profile"){
                    $('#edit_profile').css('color','#93ed89');
                    $('#edit_profile').find('.tooltiptext_small').text('Stop edit mode');
                }
                else{
                    $('#edit_profile').css('color','white');
                    $('#edit_profile').find('.tooltiptext_small').text('Edit profile');
                }

                $('#new_avatar').toggle();
                $('#save_changes').toggle();
                
                var src=$("#avatar_img").attr("src")
                if(src!="/default_avatar.png")
                    $("#remove_avatar").show();             

                $('#nickname,#first_name,#surname').prop('disabled',function(i, v) {
                    if(!v)
                        $(this).css("box-shadow","0 0 0 30px #eceeef inset");
                    else
                        $(this).css("box-shadow","0 0 0 30px white inset");
                    return !v; 
                });
            });

            function checkIfImage(f_type){
                var valid_files_types = ["image/gif", "image/jpeg", "image/png"];
                for(var i=0;i<valid_files_types.length;i++){
                    if(f_type==valid_files_types[i])
                        return true;
                }
                return false;
            }

            function previewImg(input) {
                
                if (input.files && input.files[0] && checkIfImage(input.files[0].type)) {

                    var reader = new FileReader();
                    
                    reader.onload = function (e) {
                        $('#avatar_img').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                    $("#is_avatar_removed").val(false);
                    $("#remove_avatar").show();
                }
            }
            
            $("#img_input").change(function(){
                previewImg(this);
            });

            $("#remove_avatar").click(function(e){
                e.preventDefault();
                $("#img_input").val("");
                $("#is_avatar_removed").val(true);
                
                $(this).hide();

                $('#avatar_img').attr('src', "/default_avatar.png");
            })

            $("#save_changes_btn").on('click',function(e){
                e.preventDefault();

                var formData=new FormData();
                var img_input=$("#img_input").get(0);
                var files = img_input.files;
               
                var f_length=files.length;
                
                if(f_length>1){

                }else{
                   
                    if(f_length==1){
                        var file=files[0];
                        formData.append('avatar',file)//,file.name
                    }

                    formData.append('is_avatar_removed',$("#is_avatar_removed").val());
                    formData.append('nickname',$("#nickname").val());
                    formData.append('first_name',$("#first_name").val());
                    formData.append('surname',$("#surname").val());

                    var url=$("#userInfo").attr('action');
                    
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(data){

                            if(data.code==1){//ok
                                $("#edit_profile").click();
                                snackbar.show("ok",data.resp);
                            }else{
                                snackbar.show("error",data.resp);
                            }
                        }
                    });
                }
            });
        });

                                
                   
                
           
                

            
            
            

    