extends index.pug

block style
    link(rel="stylesheet" href="/css/thumbnails.css")
    

block content
    if typeof(searched_user)!=='undefined' && searched_user!='' 
        input(type="hidden" value=searched_user._id)#searched_user_id
        h4(style="padding-top:8px;")
            if searched_user.is_owner
                | My materials
            else
                =searched_user.nickname
                |
                | materials
        br

        include user_profile_nav.pug

        if materials_length>0
            .all_thumbnails.num_of_columns
            
            #loading
        else
            .card
                .card-block
                    h6(style="margin-bottom:0;") This user has no materials.
                        if(searched_user.is_owner) 
                            |  Visit 
                            a(href="/materials/upload") this  
                            | page to upload something.

        div(style="margin-bottom:40px;")

    script(type="text/javascript").
        $(document).ready(function() {
            $.getScript('/js/thumbnails.js').done(function(){

                var my_window = $(window);
                var page={num:0};
                var finished={val:false};
                var my_mutex={val:true};
                
                load_elements(my_mutex,page,my_window,finished,endpoint_names.my_f);

                my_window.scroll(function() {
                    load_elements(my_mutex,page,my_window,finished,endpoint_names.my_f);
                    
                });
            });
        });