.tab{
    display: table;
    width: 100%;
}
.col{
    display: table-cell;
    padding: 16px;
}
.myrow{
    display:table-row;
    word-wrap:break-word;
}
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
}

.icon-bar a:hover {
    background-color: #000;
    text-decoration:none;
}
/*admin nav*/
.admin_nav_active{
    background-color:#000 !important;
}
tr.admin_tr{
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}
tr.admin_tr:hover{
    background-color:#eee;
}

.margin_tb{
    margin-bottom:3px;margin-top:3px;
}
.pad_05{
    padding:0 5px;
}
.admin_button{
    width:50% !important;   /*110px*/
}
@media (max-width: 767px){
    #add_input,#admin_search_input{
        width:100% !important;
        margin-left:0px !important;
        margin-right:0px !important;
    }
    #add_btn,#admin_search_button{
        width:100%;
    }
    #add_form,#admin_search_form{
        float:none !important;
    }
}

.margin-bottom5{
    margin-bottom:5px;
}