#navbarSupportedContent li.nav-item{
  font-family: 'Cinzel', serif;
}

.cinzel{
  font-family: 'Cinzel', serif;
}

h1,h2,h3,h4,h5,h6{
  color: #555 !important;
}

.center_element{
  margin-left:auto;
  margin-right:auto;
}

body{
  font-family: 'Lato', sans-serif;
  font-size:14px;
}

.special_font{
  font-family: 'Cinzel', serif;
}

.btn-outline-success{
  color:#fff;
  border-color:#1ec503;
}

.btn-outline-success:hover{
  background-color:#1ec503;
}

body,html{
  background-image:url('../img/school.png');
}

body{
  overflow-y:scroll;
}

#global_search_button:hover{
  background-color:#ccc; 
}

noscript>div{
    color:#fff;
    text-align:center;
    background-color:#e00;
    padding:2px;
}

#cookieInfo{
    position:fixed;
    width:100%;
    bottom:-100px;
    min-height:35px;
    max-height:200px;
    color:#fff;
    background-color:#555;
    opacity:0.85 !important;
    z-index:3;
    text-align:center;
    line-height: 2em;
}

#cookieButton{
    font-size:0.7em;
    padding:3px 6px;
    margin-left:10px;
}

.hand{
    cursor: pointer;
    cursor:hand;
}

input[type="submit"]:hover{
    cursor: pointer;
    cursor:hand;
}

.footer{
  margin-top:15px;
  text-align:center;
}

.margin_bottom30{
  margin-bottom:30px;
}

.comment_avatar{
  width:75px ;
  height:75px ;
  object-fit:cover;
}

.left_padding15{
  padding-left: 15px;
}

.comments_section{
  margin:30px 0;
}

.comments_heading{
  font-size:18px;
  display:block;
  margin-bottom:10px;
}

.comment_header,.filter_header{
  color:white;
  background-color:#66b2FF;
  border-radius:10px;
  padding:10px;
}

#snackbar { 
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 20px;
  bottom: 20px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 20px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 20px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 20px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.admin_input{
  margin-left:10px;
  margin-bottom:3px;
  margin-top:3px;
  padding:0 5px;
}

.width30{
  width:30px;
}

.ui-autocomplete { 
  max-height: 200px; overflow-y: scroll; overflow-x: hidden;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.gold_color{
  color:#FFD700;
}
.gold_color.favourite_btn:hover,.like_color.like_btn:hover{
  color:white;
}
.favourite_btn:hover{
  color:#FFD700;
}

.like_color{
  color:#93ed89; /*#4fb4ef*/
}
.like_btn:hover{
  color:#93ed89;
}

.my_tooltip{
  position:relative;
}

.tooltiptext,.tooltiptext_small{
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 6px;
  position: absolute;
  font-size:11px;
  z-index: 1;
  bottom: -75%;
  left:50%;
  width:122px;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext_small{
  width:88px !important;
}

.my_tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.my_tooltip:hover .tooltiptext_small {
  visibility: visible;
  opacity:1;
}

.my_tooltip .tooltiptext::after,.tooltiptext_small::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.my_account_buttons{
  text-align:right;
}

.my_account_buttons button{
  display:inline-block;
  font-size:20px;
  padding:8px;
  width:50px;
  margin:4px;
}

.snackbar_failure{
  background-color:#d9534f;
}

.text_ok{
  color:#5cb85c;
}
.bg_ok{
  background-color:#5cb85c
}

.space_between{
  display: flex;
  justify-content: space-between;
}

.bg_grey{
  background-color:#333;
}

.text_failure{
  color:#d9534f;
}

.border_failure{
  border-color:#d9534f !important;
}

.border_neutral{
  border-color:rgba(0,0,0,.15) !important;
}

.border_ok{
  border-color:#5cb85c !important;
}

.bg_failure{
  background-color: #d9534f;
}

.on_blue_text_failure{
  color:#ff7777;
}

.on_blue_text_ok{
  color:#93ed89;
}

.snackbar_ok{
  background-color:"#333";
}

.center_text{
  text-align:center;
}

.text_left{
  text-align:left;
}

.ui-autocomplete-loading {
  background: white url("/img/search_loading.gif") right center no-repeat;
}

#ui-id-1{
  line-height: 1.25 !important;
  border: 1px solid #5cb3fd !important;
  border-radius: .25rem !important;
  width:110px;
}

#ui-id-1 li{
  padding: .25rem .25rem !important;
  border-bottom:1px solid #ddd;
  text-overflow: ellipsis !important;
}

.height1200{
  height:1200px;
}

.ui-menu-item{
  word-wrap:break-word;
}

#avatar_img,#user_nickname,.visit_user_profile{
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

#avatar_img:hover,#user_nickname:hover,.visit_user_profile:hover{
  opacity:0.6;
}

input[type=radio] {
  border: 0px;
  width:15px;
  height:15px;
}

.edit_button{
  font-size:18px !important;
  width:45px !important;
  padding:6px 12px !important;
}

.break_word{
  word-wrap: break-word;
}