
.all_thumbnails{
	display: grid;
	grid-auto-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	align-items: center;
}
.num_of_columns{
	grid-template-columns: repeat(4, 1fr);
}
.num_of_columns_small{
	grid-template-columns: repeat(3, 1fr);
}

.thumbnail_box{
	min-width:200px;
	text-align:center;
	padding:10px;
	/* margin:10px; */
	border-radius:10px;
}

.thumbnail_box>a{
	color:#454545;
}
.thumbnail_box>a:hover{
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
	color:#888;
	cursor:pointer;
	text-decoration:none !important;
}

.thumbnail_icon{
	font-size:82px;
	margin-left:auto;
	margin-right:auto;
}

.t_button{
	font-size:16px;
	margin:3px;
	padding:5px 12px;
	cursor:pointer;
}

.thumbnail_box:hover{
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.file_name{
	word-wrap: break-word;
	border-top:2px solid #999;
	padding-top:3px;
	font-size:15px;
	font-weight:700;
	color:#000;
	text-align:center;
}

@media screen and (max-width: 1000px) {
	.num_of_columns{
		grid-template-columns: repeat(3, 1fr);
	}
	.num_of_columns_small{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 800px) {
	.num_of_columns{
		grid-template-columns: repeat(2, 1fr);
	}
	.num_of_columns_small{
		grid-template-columns: repeat(1, 1fr);
	}
}
@media screen and (max-width: 480px) {
	.num_of_columns{
		grid-template-columns: repeat(1, 1fr);
	}
}

#loading{
	display:none;
	margin-left:auto;
	margin-right:auto;
	background: url('../img/Loading_icon.gif') no-repeat center center;
    height: 200px;
    width: 200px;
}

.additional_thumbnail_data{
	color:#666;
	font-size:12px;
	font-weight:400;
}