#upload_input {
    display: none;
}
.upload_panel{
    text-align:center;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}

.fa.fa-cloud-upload{
    color:#9CA3A9;
    font-size:100px;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload_input {
  display: none;
}
  
